---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
        <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/about/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We empower...</h2>
                        <h1>people in pursuing  <br><span> their dreams</span> to</h1>
                        <h5>AchievE their Goals</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
         <img src="assets/images/icon/ban-clip2.png" alt="" class="ban-clip2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#we-offer-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="we-offer-sec">
         <div class="container">
            <div class="row">
               <div class="col-lg-5 col-md-6 col-12">
                  <div class="offer-sec sec-txt offer-col">
                     <h2>
                        Your success,<br> Our priority
                     </h2>
                     <p>
                     Our story revolves around the success of your brands. We measure our performance through your rising sales figures, increasing customers, and the spreading word about your brand! Let's just say that customer satisfaction matters to us the most! <br> <br> We work with the vision of delivering results exceeding the client's expectations. Together with the client, we turn a basic idea into a powerful brand concept for all the customers out there! Following a systematic process of product development, we are set on providing our clients with the best!
                     </p>
                     <h3 class="hd-2">Our Valued Clients Are Our <br> Greatest Asset</h3>
                     <p>Our performances are directly proportional to the satisfaction of our clients which is why we focus on going new lengths to make sure we engrave our name in gold. We’ve partnered with corporations and rising startups all over the world.</p>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-12">
                  <div class="sec-txt about-text-wrap sec-txt2">
                      <h2>Who we are?</h2>
                      <p>We are an experienced team of digital experts available at your service here!  We create effective digital solutions to build and empower your brand identity. <br> <br>The foundation of this digital agency  lies in innovation! The members of this organization are free to bring their creativity into action. Plus, they are  trained to keep customers as the top priority, leading to the advent of customer-centric digital solutions.</p>
                      <a href="what-we-do.html" class="view-more view-moreb">
                        <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW MORE</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="tabing-sec">
          <div class="container">
              <div class="row justify-content-center align-items-center">
                 <div class="col-12">
                 <div class="sec-txt sec-txt2 text-center">
                 <h2>The Core Features</h2>
                 </div>
                 </div>
                  <div class="col-3 col-md-12">
                      <div class="sec-txt sec-txt2 text-center">
                          <ul class="faeture-btns-slider">
                              <li class="current" data-targetit="box-1">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/about/f1.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/about/f10.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Creative <br>Mindset</h6>
                                  </div>
                              </li>
                              <li  data-targetit="box-2">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/about/f2.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/about/f20.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Clean <br>Approach</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-3">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/about/f3.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/about/f30.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Customer is <br>our pririty</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-4">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/about/f4.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/about/f40.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Tested <br>Methodology</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-5">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/about/f5.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/about/f50.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Teamwork <br>Efforts</h6>
                                  </div>
                              </li>
                          </ul>
                         
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-12 col-9 text-center">
                    <ul class="p-list">
                        <li class="box-1 showfirst sec-txt sec-txt2 active">
                            <p>Innovation and creativity lies at the heart of NewYork Web Coders. We have a deep curiosity that consistently drives us to be innovative and creative which helps your business to stand out from the competition.</p>
                        </li>
                        <li class="box-2 sec-txt sec-txt2 ">
                            <p>Clean Approach is a key factor in all our developments & operations. This is what we keep in mind passing by every step in the process of making brand new or revamping brands. </p>
                        </li>
                        <li class="box-3 sec-txt sec-txt2 ">
                            <p>Customers have always been and will remain the primacy of NewYork Web Coders. Prioritizing customer reviews and feedbacks, we are able to enrich our platform and improve our services to ensure continued peace of mind for our valued-customers.</p>
                        </li>
                        <li class="box-4 sec-txt sec-txt2 ">
                            <p>Extensive quality assurance is carried out before the web goes LIVE! Our Web Testing professionals check for functionality, usability, security, compatibility and performance of the website.</p>
                        </li>
                        <li class="box-5 sec-txt sec-txt2 ">
                            <p>Teamwork is always ticket to success for NewYork Web Coders. We work closely together with agility to make sure that you have one big extended team that moves you towards achievement.</p>
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
          <img src="assets/images/about/clip1.png" alt="" class="about-clip1">
      </section>
      <section id="trusted-sec" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-txt text-center">
                          <h2 class="trust-hd">Trusted by the Industry Winners</h2>
                      </div>
                      <ul class="trust-tabs">
                          <li>
                              <div class="trust-bg">
                                  <img src="assets/images/about/tr1.png" alt="">
                              </div>
                              <img src="assets/images/about/t1.png" alt="">
                          </li>
                          <li>
                          <div class="trust-bg">
                                  <img src="assets/images/about/tr2.png" alt="">
                              </div>
                              <img src="assets/images/about/t2.png" alt="">
                          </li>
                          <li>
                          <div class="trust-bg">
                                  <img src="assets/images/about/tr3.png" alt="">
                              </div>
                              <img src="assets/images/about/t3.png" alt="">
                          </li>
                          <li>
                          <div class="trust-bg">
                                  <img src="assets/images/about/tr4.png" alt="">
                              </div>
                              <img src="assets/images/about/t4.png" alt="">
                          </li>
                     </ul>
                  </div>
              </div>
          </div>
      </section>
      <section id="experience-sec" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-txt text-center">
                          <h2>Customer Experiences in a Word</h2>
                      </div>
                  </div>
              </div>
              <div class="experience-list">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp1.png" alt="">
                              </div>
                              <span class="xp-text xp-text1">
                                  Excellent Service!
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp2.png" alt="">
                              </div>
                              <span class="xp-text xp-text2">
                              Best Team
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp3.png" alt="">
                              </div>
                              <span class="xp-text xp-text3">
                              Get Going
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp4.png" alt="" >
                              </div>
                              <span class="xp-text xp-text4">
                              Highly Recommended!
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp5.png" alt="" class="img3">
                              </div>
                              <span class="xp-text xp-text5">
                              Outrageous
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp6.png" alt="">
                              </div>
                              <span class="xp-text xp-text6">
                              Ideal Platform
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp7.png" alt="" >
                              </div>
                              <span class="xp-text xp-text7">
                              Tension Free
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-6">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp8.png" alt="" class="img8">
                              </div>
                              <span class="xp-text xp-text8">
                              Very Supportive
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <img src="assets/images/banner/clip2.png" alt="" class="brand-clip2 clips">
      </section>
      <section id="interested-sec" class="section-pad">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-5 col-md-5 col-12">
                      <img src="assets/images/about/girl.png" alt="">
                  </div>
                  <div class="col-lg-7 col-md-7 col-12">
                      <div class="interested-text">
                          <h2>We need to</h2>
                          <h3>stop interrupting</h3>
                          <h4>what people are</h4>
                          <h2 class="h2">interested in </h2>
                          <h5>and be</h5>
                          <h6>what people are</h6>
                          <h2 class="h1">interested</h2>
                          <h2 class="h1a">in!</h2>
                          <div class="sec-txt2">
                              <p>Craig Davis, former Chief Creative Officer at J. Walter Thompson</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="faq-sec">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-lg-4 col-md-5 col-12">
                  <div class="sec-txt faq-txt" data-aos="fade-right">
                     <h2>
                        Know more about our services!
                     </h2>
                     <p>Your queries are welcomed, if you don't find your answers, you can always <span><a href="contact.html">contact us!</a></span> </p>
                     <p class="faq-p">For more technical questions</p>
                     <a href="faq.html" class="view-more">
                        <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW MORE</span>
                     </a>
                  </div>
               </div>
               <div class="col-lg-6 col-md-7 col-12">
                  <ul class="faq-ul faq-list">
                     <li class="first active" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>How long will you take to design & develop a website?</h4>
                        <div class="p1" style="">
                              <p>Since a website undergoes two different phases before it is ready to go live, it may take anywhere between 15 to 120 days to design and develop a complete website from scratch. However, the number of days is entirely dependent on the complexity of your project and the number of revisions you require.</p>
                        </div>
                     </li>
                     <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>How costly is the entire website project?</h4>
                        <div class="p1">
                              <p>The cost of the website depends on its structure and your business type. You can see all our pricing packages above.</p>
                        </div>
                     </li>
                     <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>What are some benefits of having a website?</h4>
                        <div class="p1" style="">
                              <p>In a world where the internet is ruling businesses and we are surrounded by technology, not having a website sounds irrational. A website will not only help in supporting your business by giving you a strong presence online but will also establish your brand identity amongst the masses.</p>
                        </div>
                     </li>
                     <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>Can NewYork Web Coders help me update my old website?</h4>
                        <div class="p1" style="">
                              <p>Yes! We can revamp your old website and also build you a new one as per your business needs and requirements</p>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>       <input type="hidden" id="base_url" value="index.html" />


    </Layout>






      
 