---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
        <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/brand/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We brand...</h2>
                        <h1>your ideas to <br><span>the real world</span></h1>
                        <h5>DIGITALLY YET CREATIVELY! </h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#chart-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="chart-sec" class="section-padding2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <img src="assets/images/brand/chart-clip.png" alt="" class="chart-clip">
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    <div class="chart">
                        <div class="sec-txt text-center">
                            <h2 class="secondary-hd chart-hd">
                                 At NewYork Web Coders, it’s our <br> core to derive businesses to brands <br> with spices of creative designs
                            </h2>
                            <p class="secondary-para">A brand represents a company's voice and vision, and it serves as the company's face when it appears on any platform. We at NewYork Web Coders, one of USA's emerging branding firms, believe that developing a perfect branding strategy, logo design, and everything else that follows requires an in-depth study of the company's ideals, as well as unique and creative thinking. We're here to offer you our creative experience in order to help you plan, strategize, grow, and manage your brand to its full potential.</p>
                        </div>
                    </div>
                    <div class="couple-btn-area d-flex align-items-center justify-content-between chat-btns">
                            <a href="branding-faq.html" class="view-more">
                                <span><i class="fas fa-play"></i></span> <span class="txt">GOT QUESTION?</span>
                            </a>
                            <a href="brand-design-portfolio.html" class="view-more">
                                <span><i class="fas fa-play"></i></span> <span class="txt">CHECK OUR WORK</span>
                            </a>
                      </div>
                </div>
            </div>
        </div>
      </section>
      <section id="branding-sec">
      <img src="assets/images/banner/clip2.png" alt="" class="brand-clip2 clips">
          <div class="brand-tab-wrap">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-10 col-md-12 col-12 d-flex justify-content-between branding-btn-area">
                      <button data-targetit="box-16"  class="current branding-btn">
                                <span>1</span> Branding.
                           
                            <p>We are one of a kind digital agency, who makes sure that we understand all the cultural and corporate insights of your business and then to provide you with our finest services, inculcating the latest technology and commercial requirements.</p>
                            </button>
                            <button data-targetit="box-17" class="branding-btn">
                                <span>2</span> Graphic Design.
                           
                            <p>There's no limit to what you can get designed at NewYork Web Coders. Whether you're looking for a spectacular social media designs or some stunning stationary, the talented global community of designers here can make it happen. We pride oursleves on our high quality designers who deliver only the best graphic design services.</p>
                            </button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-10 col-md-12">
                      <div class="box-16 showfirst branding-tab-box">
                          <div class="row">
                              <div class="col-12">
                                  <p class="tb-mob-para text-center">We are one of a kind digital agency, who makes sure that we understand all the cultural and corporate insights of your business and then to provide you with our finest services, inculcating the latest technology and commercial requirements.</p>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-1.png" alt=""></span> <span>Brand Naming</span> </h3>
                                          <p class="m-0">To imagine and construct the ideal brand name, consider your complete company's ideas and mission.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-2.png" alt=""></span> <span>Brand Strategy</span> </h3>
                                          <p class="m-0">Create the ideal brand blueprint for your company, establishing its mission, value, promises, and identity.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-3.png" alt=""></span> <span>Branding Guidelines</span> </h3>
                                          <p class="m-0">Get the help of a professional to create a set of guidelines that describe your brand's voice, viewpoint, norms, and objectives.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-4.png" alt=""></span> <span>Brand Architecture</span> </h3>
                                          <p class="m-0">Define the structure of the brands associated with your company's portfolio, as well as their relationship, to the best of your ability.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-5.png" alt=""></span> <span>Brand Identity/Logo</span> </h3>
                                          <p class="m-0">Choose your brand's colors, outline, and voice to create the ideal logo, which will serve as your organization's mascot on any platform.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-6.png" alt=""></span> <span>Brand Management</span> </h3>
                                          <p class="m-0">Make a grand entry into the world of the internet and establish a large online presence with effective brand marketing in United States.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="box-17 branding-tab-box">
                          <div class="row">
                          <div class="col-12">
                                  <p class="tb-mob-para text-center">There's no limit to what you can get designed at NewYork Web Coders. Whether you're looking for a spectacular social media designs or some stunning stationary, the talented global community of designers here can make it happen. We pride oursleves on our high quality designers who deliver only the best graphic design services.</p>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-7.png" alt=""></span> <span>Social Media Designs</span> </h3>
                                          <p class="m-0">With the right social media communication strategy, you'll be able to fine-tune the connecting threads between your brand and the community at large.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-8.png" alt=""></span> <span>Emailers</span> </h3>
                                          <p class="m-0">Connect with your partners, clients, potential investors and everybody important to your organization with expertly structured and well-timed emailers.  </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-9.png" alt=""></span> <span>Stationary</span> </h3>
                                          <p class="m-0">Appropriate and eye-catching designed letterheads, signatures, business cards, and other materials can grab the interest of your target audience.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-10.png" alt=""></span> <span>Marketing Collaterals</span> </h3>
                                          <p class="m-0">With well-designed and informative brochures and pamphlets, you may take care of every area of your advertising or marketing activities.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-11.png" alt=""></span> <span>Posters</span> </h3>
                                          <p class="m-0">On posters that grab the attention of your target audience, color the best features of your organization with shades and language that appeal to them.  </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-12">
                                  <div class="branding-tab-item">
                                      <div class="sec-txt">
                                          <h3 class="bt-item-hd"> <span><img src="assets/images/brand/bt-12.png" alt=""></span> <span>Package Design</span> </h3>
                                          <p class="m-0">Allow the creative minds to work on your packaging designs so that your items are shown in a way that will not go neglected by the public.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="drive-sec">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 col-12 p-0 drive-cols">
                      <div class="drive-cont-area">
                          <div class="sec-txt drive-text">
                              <a href="#" class="btn-a popup-btn"> <span>Get Started</span></a>
                              <h2 class="drive-hd">Drive through the <span>simple process</span></h2>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-12 p-0 drive-cols drive-cols2">
                      
                  </div>
              </div>
          </div>
      </section>
      <section id="how-do-we-sec" class="section-pad">
          <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-11 col-12">
                        <div class="sec-txt text-center text-padding">
                            <h2>How do we do it all for you?</h2>
                            <p>Creating a meaningful impact on a consumer is not easy. But we have got your back! The branding experts here know how to develop an impressive identity, leaving a long-lasting impression on the audience. With our branding services, your brand story not only reaches millions of people out there but also carves its place in their hearts. We come up with captivating designs & appealing strategies for you! Let's connect & build an ideal brand-development plan for you!</p>
                        </div>
                        <ul class="dots-list">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </ul>
                        <ul class="dot-tag-list">
                            <li>

                                <h5 class="dot-tag">IDENTIFY</h5>
                            </li>
                            <li>

                                <h5 class="dot-tag">COMMUNICATE</h5>
                            </li>
                            <li>

                                <h5 class="dot-tag">ENGAGEMENT</h5>
                            </li>
                        </ul>
                    </div>
                </div>
          </div>
      </section>
      <section id="web-fact-sec" class="section-pad">
          <h2 class="fact-hd">Branding Stats</h2>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="counter-area" id="counter">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="80">0</span>%</div>
                            <svg  class="meter-svg svg" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>increase in brand <br>recognition with a colored<br> logo design</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="65">0</span>%</div>
                            <svg  class="meter-svg svg red" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>of visual information<br> can be remembered</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="74">0</span>%</div>
                            <svg  class="meter-svg svg green" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                         </div>
                         <p>of people become loyal <br> to brands through content</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="work-sec">
         <div class="container position-relative">
            <img src="assets/images/banner/clip2.png" alt="" class="clip2 clip-rt-y">
            <div class="row justify-content-center">
               <div class="col-lg-8 col-md-10 col-12">
                  <div class="sec-txt text-center">
                     <h2 data-aos="fade-up">Our Work, that speaks for itself!</h2>
                  </div>
                  <div class="work-wrap">
                     <ul class="work-list">
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work1.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk1.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work2.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk2.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work3.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk3.png" alt="" class="work-m-img">
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-12">
                  <ul class="d-flex align-items-center justify-content-between">
                     <li>
                        <a href="brand-design-portfolio.html" class="view-more">
                           <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW ALL PORTFOLIO</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <input type="hidden" id="base_url" value="index.html" />
    </Layout>
