



      <div class="subBanner" style="background-image:url(assets/images/content/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We create...</h2>
                        <h1>original content as <br><span> per your requirement</span></h1>
                        <h5>100% PLAGIRISM FREE</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#seo-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="seo-sec" class="section-padding2">
          <div class="container-fluid p-0">
              <div class="row web-design-list">
                  <div class="col-12 tabing-item all-web web-design-main">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-7 col-md-7 col-12 p-0">
                              <div class="sec-txt portfolio-text seo-text">
                                  <h2>We're on a Mission to Change Your View of Content Writing</h2>
                                  <p>At New York Web Coders, you will find the most talented and profound creative content writers who strive hard to develop the best, plagiarism-free and high-quality content. Our work never fails our clients and always brings back their customers. We provide the most engaging and exclusive content writing services in the USA. Our agency is one of the top-rated content writing agencies in the USA that has always satisfied its customers. Let us write the finest content for you!</p>
                                  <a href="content-faq.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">GOT QUESTION?</span>
                                </a>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-5 col-12 p-0">
                              <div >
                                  <img src="assets/images/content/content.png" alt="" class="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-11 col-md-12 col-12">
                                  <div class="sec-txt text-center text-padding">
                                      <h2>Creative Content Creation Services <br>Just One Click Away!</h2>
                                      <p>We are a one-stop-shop for all of your content developments from SEO to Ghost Writing to Blog Writing. We intend to provide you with content which influences your audience to proceed towards in-depth details.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item content-writing">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>SEO Writing</h4>
                                  <p>We believe we are marketing freaks and make our clients stand out from the crowd with high superior SEO writing skills. We offer SEO article writing, SEO blog writing, Press release writing, SEO Newsletter and Webpage SEO writing services.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/content/ct1.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item content-writing">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Business Writing</h4>
                                  <p>We take it as our duty to work for your businesses and use our services to make your business touch the skies. We offer business letter writing, business plan writing, business proposal, business presentation and business review.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/content/ct2.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item content-writing">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Web Copywriting</h4>
                                  <p>We have experienced writers with great knowledge and capability to develop result-driven web content. Our copywriting services include landing page copywriting, product description, webbanner writing, web content writing, web content revamp.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/content/ct3.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item content-writing">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Ghost Writing</h4>
                                  <p>At the Writer Hub, our writers are well aware of providing exclusive content writing services in the USA which will appeal to the target market. We offer Ebook writing, autobiography, speechwriting, how-to manuals, Wikipedia writing.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/content/ct4.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item content-writing">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Creative Writing</h4>
                                  <p>We believe we know how to toy around with words and develop the most engaging content forall our clients. In creative writing, we offer billboard copywriting, brand name, slogan writing,video script writing and resume writing.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/content/ct5.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item content-writing">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Blog Writing</h4>
                                  <p>Drive more traffic to your website, position your brand as the best in the business, and get more leads – all through our blog writing service. Our writers take the time to understand your business and conduct keyword research before they write blog posts for you.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/content/ct6.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
      </section>
      <section id="seo-services" class="section-padding2">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-11 col-md-12">
                      <div class="sec-txt text-center text-padding">
                          <h2>Outcomes of our service</h2>
                          <p>
                          Deep research and understanding is what appeals to the target audience. This is how our professional writers guarantee that your readers will be hooked! Tell us about your concept and we'll convert it into a well-written masterpiece. We'll pay close attention to your needs and produce great content tailored to them with our sales oriented features!
                          </p>
                      </div>
                  </div>
              </div>
              
          </div>
          <div class="container-fluid p-0 content-service-area">
              <div class="row align-items-center">
                  <div class="col-lg-12 col-md-12 col-12">
                     <ul class="content-service-list">
                        <li>
                           <div class="what-bos">
                               <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Original   <br>content - free  <br>of plagiarism
                                 </h4>
                                 <hr>
                              </div>
                              <img src="assets/images/content/s1.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Free  <br>unlimited <br>revisions
                                 </h4>
                                 <hr>
                              </div>
                              <img src="assets/images/content/s2.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 24/7  <br>customer <br>support
                                 </h4>
                                 <hr>
                              </div>
                              <img src="assets/images/content/s3.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Fastest  <br>turnaround <br>times
                                 </h4>
                                 <hr>
                              </div>
                              <img src="assets/images/content/s4.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 A dedicated  <br>Project <br>Manager
                                 </h4>
                                 <hr>
                              </div>
                              <img src="assets/images/content/s5.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Money- <br>back <br>guarantee
                                 </h4>
                                 <hr>
                              </div>
                              <img src="assets/images/content/s6.png" alt="" class="what-ic">
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
          </div>
          <img src="assets/images/about/clip1.png" alt="" class="about-clip1">
      </section>
      <section class="section-pad">
         <div class="">
             <img src="assets/images/content/team.jpg" alt="">
         </div>
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-lg-10 col-md-11 col-12">
                     <div class="content-area2 sec-txt text-center">
                         <h2 class="secondary-hd">Join 2,000+ Businesses That Have Trusted Their Content Writing With NewYork Web Coders</h2>
                         <a href="#" class="btn-a popup-btn"> <span>Get Started</span></a>
                     </div>
                 </div>
             </div>
         </div>
      </section>
      <section id="web-fact-sec" class="section-pad">
          <h2 class="fact-hd">Content Stats</h2>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="counter-area" id="counter">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="93">0</span>%</div>
                            <svg  class="meter-svg svg" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>B2B Marketers use <br>Content Marketing</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="73">0</span>%</div>
                            <svg  class="meter-svg svg red" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>Companies appoint <br> someone to oversee<br> their Content Strategy</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="58">0</span>%</div>
                            <svg  class="meter-svg svg green" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                         </div>
                         <p>B2C Marketers <br>have a documented <br>Content Strategy</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      
      