---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
	<div class="main-header">
		<div class="container">
			
			<div class="row align-items-center justify-content-between">
				<div class="col-md-3 col-lg-3 col-5 text-left">
					<a href="index.html" class="logo">
						<img src="assets/images/logo.png" alt="">
					</a>
				</div>
				<div class="col-md-8 col-7 text-right">
					
					<ul class="header-opt">
						<!--<li>-->
						<!--	<a  href="tel:(631) 456 4050" class="link-btn">-->
						<!--		<i class="fas fa-phone-alt"></i>-->
						<!--	</a>-->
						<!--</li>-->
						<li>
							<a  href="tel:(855) 267-6540" class="link-btn">
								<i class="fas fa-phone-alt"></i>
							</a>
						</li>
						
						

						<li>
							<a href="javascript:$zopim.livechat.window.toggle()" class="link-btn">
								<i class="far fa-envelope"></i>
							</a>
						</li>
						<li>
							<a href="#" class="btn-a popup-btn"> <span>Custom Quote</span></a>
						</li>
						<li>
							<div class="menu-Bar">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="menuWrap">
		<div class="container">
			<div class="row align-items-end">
				<div class="offset-lg-1 col-lg-8 col-md-8 col-12">
					<ul class="primary-menu-list">
						<li>
							<a href="index.html">home</a>
						</li>
						<li>
							<a href="about.html">About Us</a>
						</li>
						<li class="drop-down">
							<a href="what-we-do.html">Services <i class="fas fa-caret-right"></i></a>
							<button class="dropdown-btn"><i class="fad fa-arrow-circle-down"></i></button>
							<ul class="menu-drop-down-list">
								<li>
									<a href="web-design.html">Website Design</a>
								</li>
								<li>
									<a href="web-development.html">Website Development</a>
								</li>
							
								<li>
									<a href="ecommerce.html">E-Commerce</a>
								</li>
								<li>
									<a href="mobile-application.html">Mobile Application</a>
								</li>
								<li>
									<a href="brand-design.html">Branding and Design</a>
								</li>
								<li>
									<a href="seo.html">Search Engine Optimization</a>
								</li>
								<li>
									<a href="social-media.html">Social Media</a>
								</li>
								<li>
									<a href="content-writing.html">Content Writing</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="portfolio.html">Portfolio</a>
						</li>
					<li class="drop-down">
							<a href="packages.html">Packages <i class="fas fa-caret-right"></i></a>
							<button class="dropdown-btn"><i class="fad fa-arrow-circle-down"></i></button>
							<ul class="menu-drop-down-list">
								<li>
									<a href="logo-packages.html">Logo Design</a>
								</li>
								<li>
									<a href="web-packages.html">Web Services</a>
								</li>
							
								<li>
									<a href="branding-packages.html">Branding and Design</a>
								</li>
								<li>
									<a href="seo-packages.html">Seo Service</a>
								</li>
								<li>
									<a href="smm-packages.html">Social Media</a>
								</li>
								<li>
									<a href="content-packages.html">Content Writing</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="review.html">Reviews</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
                    </ul>
				</div>
				<div class="col-lg-3 col-md-4 col-12">
					<div class="menu-social-area">
						<h4 class="socila-hd">Get Socialize</h4>
						<ul class="menu-social-list">
							<li>
								<a href="https://www.facebook.com/newyorkwebcoders/">
								   <img src="assets/images/icon/fb.png" alt="">
								</a>
								<a href="#">
								  <img src="assets/images/icon/twitter.png" alt="">
								</a>
								<a href="#">
								  <img src="assets/images/icon/youtube.png" alt="">
								</a>
							</li>
							<li>
								<a href="#">
								<img src="assets/images/icon/linkedin.png" alt="">
								</a>
								<a href="https://instagram.com/newyorkwebcoder?utm_medium=copy_link">
								<img src="assets/images/icon/insta.png" alt="">
								</a>
								<a href="#">
								 <img src="assets/images/icon/pinterest.png" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-hd-text banner-txt">
			<div class="">
				<h2>We are...</h2>
				<h3 class="menu-primary-hd">newyork</h3>
				<h4>WEB CODERS</h4>
				</div>
			</div>
	</div>
</header>
<!-- <div class="loader" ><span>Loading...</span></div>      <div class="inner-body"> -->
       <div class="mainBanner" style="background-image:url(assets/images/banner/mainbanner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-11">
                  <div class="banner-txt">
                     <div class="">
                        <h2  data-aos="fade-right" class="type">We are...</h2>
                        <div class="text-center">
                        <img src="assets/images/banner/ban-text.gif" alt="" class="text-video">
                        </div>
                        <h4 data-aos="fade-right" data-aos-duration="2000">WEB CODERS</h4>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
         <img src="assets/images/icon/ban-clip2.png" alt="" class="ban-clip2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#we-offer-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="we-offer-sec">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-6 col-12">
                  <div class="offer-sec sec-txt offer-col" data-aos="fade-right">
                     <h2>
                        Your website doesn't <br> have to be complicated.
                     </h2>
                     <p>
                        We are fearless about taking on challenges! With collaboration at our core, we are ready to work with you to craft winning solutions. We excel at listening, and 
                     then acting on your needs, to deliver a successful 
                     project outcome. Our team of experts are equipped with the knowledge and experience needed to get the job done, and are poised to deliver a responsive website for your business.
                     </p>
                     <a href="about.html" class="view-more view-morea">
                        <span><i class="fas fa-play"></i></span> <span class="txt"> KNOW MORE</span>
                     </a>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6 col-12">
                  <div class="offer-col">
                     <div class="tab-wrap">
                        <a href="#" class="tab-slider-btn tab-prev"><i class="far fa-chevron-left"></i></a>
                        <a href="#" class="tab-slider-btn tab-next"><i class="far fa-chevron-right"></i></a>
                        <img src="assets/images/frame.png" alt="" class="frame">
                        <ul class="tab-inners tab-screens-slider">
                           <li>
                              <div class="tab-content text-center">
                                 <div class="">
                                    <h4>We Offer</h4>
                                    <img src="assets/images/icon/tab1.png" alt="" >
                                    <h5>Creative Mindset</h5>
                                    <p>Creativity lies at the heart of <br> New York Web Coders.</p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="tab-content text-center">
                                 <div class="">
                                    <h4>We Offer</h4>
                                    <img src="assets/images/icon/tab2.png" alt="" >
                                    <h5>Clean Approach</h5>
                                    <p>Clean Approach is a key factor in <br> all our developments & operations.</p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="tab-content text-center">
                                 <div class="">
                                    <h4>We Offer</h4>
                                    <img src="assets/images/icon/tab3.png" alt="" >
                                    <h5>Customer is our Priority</h5>
                                    <p>Customers will always remain the <br>  North Star of New York Web Coders</p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="tab-content text-center">
                                 <div class="">
                                    <h4>We Offer</h4>
                                    <img src="assets/images/icon/tab4.png" alt="" >
                                    <h5>Tested Methodology</h5>
                                    <p>Extensive QA is carried out <br>  before the web goes LIVE!</p>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="tab-content text-center">
                                 <div class="">
                                    <h4>We Offer</h4>
                                    <img src="assets/images/icon/tab5.png" alt="" >
                                    <h5>Teamwork Efforts</h5>
                                    <p>Teamwork is always a ticket <br>to success for us.</p>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section id="what-we-do-sec">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-3 col-md-4 col-12">
                  <ul class="slide-logos">
                     <li> <a href="https://g.page/newyorkwebcoders?share"> <img src="assets/images/icon/google.png" alt="" class="google-rv"></a></li>
                     <li><a href="https://www.trustpilot.com/review/New YorkWeb Coders.com"> <img src="assets/images/icon/trustpilot.png" alt="" class="google-rv"></a></li>
                     <li><a href="https://www.bark.com/en/us/company/new-york-web-coders/yyzMG/"> <img src="assets/images/icon/bark.png" alt="" class="google-rv"></a></li>
                  </ul>
                
               </div>
               <div class="col-lg-7 col-md-8 col-12">
                  <div class="what-txt-wrap sec-txt" data-aos="fade-up">
                     <h2>What we do</h2>
                     <p class="p2">Offering creative websites, ROI focussed SEO campaigns with 360 degree digital consultancy.</p>
                     <p>We, New York Web Coders, help businesses reach their users through compelling websites that drives engagement and generate more leads.</p>
                     <a href="what-we-do.html" class="view-more view-moreb">
                        <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW MORE</span>
                     </a>
                  </div>
               </div>
            </div>
            <div class="what-we-slider">
               <div class="row align-items-center">
                  <div class="col-lg-10 col-md-10 col-12">
                     <ul class="what-we-slide">
                        <li>
                           <div class="what-bos">
                              <div class="after" style="background-image:url(assets/images/hover/wh-bg1.png);"></div>
                              <div class="what-box-txt">
                                 <h4>
                                    Web <br>Services
                                 </h4>
                                 <hr>
                                 <p>We build websites that inspires & excites</p>
                              </div>
                              <img src="assets/images/icon/wh-icon1.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after" style="background-image:url(assets/images/hover/wh-bg2.png);"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Mobile <br>Application
                                 </h4>
                                 <hr>
                                 <p>Add innovation to your vision with an amazing mobile application</p>
                              </div>
                              <img src="assets/images/icon/wh-icon2.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after" style="background-image:url(assets/images/hover/wh-bg3.png);"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Branding  <br>& Design
                                 </h4>
                                 <hr>
                                 <p>We make customized brands that sets you apart</p>
                              </div>
                              <img src="assets/images/icon/wh-icon3.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after" style="background-image:url(assets/images/hover/wh-bg4.png);"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Search  <br>Engine Opt
                                 </h4>
                                 <hr>
                                 <p>Generating traffic that matters the most.</p>
                              </div>
                              <img src="assets/images/icon/wh-icon4.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after" style="background-image:url(assets/images/hover/wh-bg5.png);"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Social  <br>Media
                                 </h4>
                                 <hr>
                                 <p>Get more traffic & more engagement</p>
                              </div>
                              <img src="assets/images/icon/wh-icon5.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after" style="background-image:url(assets/images/hover/wh-bg6.png);"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Content  <br>Writing
                                 </h4>
                                 <hr>
                                 <p>We make content creation simple & flexible</p>
                              </div>
                              <img src="assets/images/icon/wh-icon6.png" alt="" class="what-ic">
                           </div>
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-2 col-md-2 col-2">
                     <button class="we-next"><i class="far fa-chevron-right"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <img src="assets/images/banner/clip.png" alt="" class="clip-1 clip-circle">
      </section>
      <section id="work-sec">
         <div class="container position-relative">
            <img src="assets/images/banner/clip2.png" alt="" class="clip2 clip-rt-y">
            <div class="row justify-content-center">
               <div class="col-lg-8 col-md-10 col-12">
                  <div class="sec-txt text-center">
                     <h2 data-aos="fade-up">Our Work, that speaks for itself!</h2>
                  </div>
                  <div class="work-wrap">
                     <ul class="work-list">
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work1.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk1.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work2.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk2.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work3.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk3.png" alt="" class="work-m-img">
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-12">
                  <ul class="d-flex align-items-center justify-content-between">
                     <li>
                        <a href="portfolio.html" class="view-more">
                           <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW ALL PORTFOLIO</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <section id="package-sec">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="sec-txt text-center">
                     <h2 data-aos="fade-up">Start with the package, that's best for you!</h2>
                  </div>
                  <ul class="pack-tab-btns">
                     <li data-targetit="box-1" class="current">
                        <a href="#">Info Website Plans</a>
                     </li>
                     <li data-targetit="box-2">
                        <a href="#">E-Commerce Website Plans</a>
                     </li>
                  </ul>
               </div>
               <div class="col-12">
                  <div class="packages-wrap packages-wrapba">
                     <img src="assets/images/banner/clip3.png" alt="" class="clip3 clip-up-down2">
                     <div class="box-1 showfirst">
                        <ul class="packages-list">
                           <li>
                              <div class="packages-bos">
                                 <h4>Basic Web</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$149</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$497</span> </h5>
                                 </div>
                             
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    3 Page Website
                                    </li>
                                    <li>
                                    2 Stock Images
                                    </li>
                                    <li>
                                    1 jQuery Slider Banner
                                    </li>
                                    <li>
                                    Contact/Query Form
                                    </li>
                                    <li>
                                    48 to 72 hours TAT
                                    </li>
                                    <li>
                                    Complete Deployment
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()"  class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Startup Web</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$399</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$1330</span> </h5>
                                 </div>
                                
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    5 Unique Pages Website
                                    </li>
                                    <li>
                                    CMS / Admin Panel Support
                                    </li>
                                    <li>
                                    8 Stock images
                                    </li>
                                    <li>
                                    5 Banner Designs
                                    </li>
                                    <li>
                                    1 jQuery Slider Banner
                                    </li>
                                    <li>
                                    Social Media Integration
                                    </li>
                                    <li>
                                    FREE Google Friendly Sitemap
                                    </li>
                                    <li>
                                    48 to 72 hours TAT
                                    </li>
                                    <li>
                                    Complete Deployment
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Professional Web</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$699</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$2330</span> </h5>
                                 </div>
                               
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    10 Unique Pages Website
                                    </li>
                                    <li>
                                    CMS / Admin Panel Support

                                    </li>
                                    <li>
                                    12 Stock images

                                    </li>
                                    <li>
                                    5 Banner Designs

                                    </li>
                                    <li>
                                    1 jQuery Slider Banner

                                    </li>
                                    <li>
                                    FREE Google Friendly Sitemap

                                    </li>
                                    <li>
                                    Social Media Integration
                                    </li>
                                    <li>
                                    48 to 72 hours TAT
                                    </li>
                                    <li>
                                    Complete Deployment
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Elite Web</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$1299</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$4330</span> </h5>
                                 </div>
                                 
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    Upto 15 Unique Pages Website
                                    </li>
                                    <li>
                                    Conceptual and Dynamic Website

                                    </li>
                                    <li>
                                    Mobile Responsive

                                    </li>
                                    <li>
                                    Online Reservation/Appointment Tool (Optional)

                                    </li>
                                    <li>
                                    Online Payment Integration (Optional)

                                    </li>
                                    <li>
                                    Custom Forms

                                    </li>
                                    <li>
                                    Lead Capturing Forms (Optional)
                                    </li>
                                    <li>
                                    Striking Hover Effects
                                    </li>
                                    <li>
                                    Newsletter Subscription (Optional)
                                    </li>
                                    <li>
                                    Newsfeed Integration
                                    </li>
                                    <li>
                                    Social Media Integration
                                    </li>
                                    <li>
                                    Search Engine Submission
                                    </li>
                                    <li>
                                    5 Stock Photos
                                    </li>
                                    <li>
                                    3 Unique Banner Design
                                    </li>
                                    <li>
                                    1 jQuery Slider Banner
                                    </li>
                                    <li>
                                    48 to 72 hours TAT
                                    </li>
                                    <li>
                                    Complete Deployment
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Corporate Web</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$1999</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$6660</span> </h5>
                                 </div>
                               
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    15 to 20 Pages Website
                                    </li>
                                    <li>
                                    Custom Made, Interactive, Dynamic & High End Design

                                    </li>
                                    <li>
                                    Custom WP (or) Custom PHP Development

                                    </li>
                                    <li>
                                    1 jQuery Slider Banner

                                    </li>
                                    <li>
                                    10 Stock Images

                                    </li>
                                    <li>
                                    Unlimited Revisions

                                    </li>
                                    <li>
                                    Special Hover Effects
                                    </li>
                                    <li>
                                    Online Appointment/Scheduling/Online Ordering Integration (Optional)
                                    </li>
                                    <li>
                                    Online Payment Integration (Optional)
                                    </li>
                                    <li>
                                    Multi Lingual (Optional)
                                    </li>
                                    <li>
                                    Custom Dynamic Forms (Optional)
                                    </li>
                                    <li>
                                    Signup Area (For Newsletters, Offers etc.)
                                    </li>
                                    <li>
                                    Search Bar
                                    </li>
                                    <li>
                                    Live Feeds of Social Networks integration (Optional)
                                    </li>
                                    <li>
                                    Mobile Responsive
                                    </li>
                                    <li>
                                    FREE 5 Years Domain Name
                                    </li>
                                    <li>
                                    Free Google Friendly Sitemap
                                    </li>
                                    <li>
                                    Search Engine Submission
                                    </li>
                                    <li>
                                    Social Media Integration
                                    </li>
                                    <li>
                                    Industry Specified Team of Expert Designers and Developers
                                    </li>
                                    <li>
                                    Complete Deployment
                                    </li>
                                    <li>
                                    Dedicated Accounts Manager
                                    </li>
                                    <li>
                                    100% Ownership Rights
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Business Web</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$2499</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$8330</span> </h5>
                                 </div>
                               
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    15 Seconds 2D Explainer Video

                                    </li>
                                    <li>
                                    Voice - Over & Sound Effects

                                    </li>
                                    <li>
                                    Professional Script Writing

                                    </li>
                                    <li>
                                    Storyboard

                                    </li>
                                    <li>
                                    SEO Meta Tags

                                    </li>
                                    <li>
                                    15 to 20 Pages Website

                                    </li>
                                    <li>
                                    Custom Made, Interactive, Dynamic & High End Design
                                    </li>
                                    <li>
                                    Custom WP (or) Custom PHP Development
                                    </li>
                                    <li>
                                    1 jQuery Slider Banner
                                    </li>
                                    <li>
                                    Up to 10 Custom Made Banner Designs
                                    </li>
                                    <li>
                                    10 Stock Images
                                    </li>
                                    <li>
                                    Unlimited Revisions
                                    </li>
                                    <li>
                                    Special Hoover Effects
                                    </li>
                                    <li>
                                    Content Management System (CMS)
                                    </li>
                                    <li>
                                    Online Appointment/Scheduling/Online Ordering Integration (Optional)
                                    </li>
                                    <li>
                                    Online Payment Integration (Optional)
                                    </li>
                                    <li>
                                    Multi Lingual (Optional)
                                    </li>
                                    <li>
                                    Custom Dynamic Forms (Optional)
                                    </li>
                                    <li>
                                    Signup Area (For Newsletters, Offers etc.)
                                    </li>
                                    <li>
                                    Search Bar
                                    </li>
                                    <li>
                                    Live Feeds of Social Networks integration (Optional)
                                    </li>
                                    <li>
                                    Mobile Responsive
                                    </li>
                                    <li>
                                    FREE 5 Years Domain Name
                                    </li>
                                    <li>
                                    Free Google Friendly Sitemap
                                    </li>
                                    <li>
                                    Search Engine Submission
                                    </li>
                                    <li>
                                    Social Media Integration
                                    </li>
                                    <li>
                                    Industry Specified Team of Expert Designers and Developers
                                    </li>
                                    <li>
                                    Complete Deployment
                                    </li>
                                    <li>
                                    Dedicated Accounts Manager
                                    </li>
                                    <li>
                                    100% Ownership Rights
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="box-2">
                        <ul class="packages-list">
                           <li>
                              <div class="packages-bos">
                                 <h4>Startup E-Commerce</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$799</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$2660</span> </h5>
                                 </div>
                                
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    Customized Design
                                    </li>
                                    <li>
                                    Up-to 100 Products
                                    </li>
                                    <li>
                                    Content Management System (CMS)
                                    </li>
                                    <li>
                                    Mini Shopping Cart Integration
                                    </li>
                                    <li>
                                    Payment Module Integration
                                    </li>
                                    <li>
                                    Easy Product Search
                                    </li>
                                    <li>
                                    Dedicated designer & developer
                                    </li>
                                    <li>
                                    Unlimited Revisions
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Professional E-Commerce</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$1399</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$4660</span> </h5>
                                 </div>
                              
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    Customized Design
                                    </li>
                                    <li>
                                    Up-to 500 Products
                                    </li>
                                    <li>
                                    Content Management System (CMS)
                                    </li>
                                    <li>
                                    Full Shopping Cart Integration
                                    </li>
                                    <li>
                                    Payment Module Integration
                                    </li>
                                    <li>
                                    Easy Product Search
                                    </li>
                                    <li>
                                    Product Reviews
                                    </li>
                                    <li>
                                    5 Promotional Banners
                                    </li>
                                    <li>
                                    Unlimited Revisions
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Unique Design Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee *
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <div class="packages-bos">
                                 <h4>Elite E-Commerce</h4>
                                   <div class="d-flex align-items-center">
                                 <h3>$2499</h3>
                                 <h5 class="cut-of-pack"> 70% off <span>$8330</span> </h5>
                                 </div>
                              
                                 <div class="packages-items-wrap">
                                 <ul class="packages-items">
                                    <li>
                                    Unlimited Pages Website with Unique Design
                                    </li>
                                    <li>
                                    5 Custom Logo Design
                                    </li>
                                    <li>
                                    CMS / Backend Administrative System
                                    </li>
                                    <li>
                                    Unlimited Products with Unlimited Categories
                                    </li>
                                    <li>
                                    FREE Unlimited Revisions
                                    </li>
                                    <li>
                                    Custom Shopping Cart Integration
                                    </li>
                                    <li>
                                    Multiple Payment Module Integration
                                    </li>
                                    <li>
                                    Multiple Shipping Module Integration
                                    </li>
                                    <li>
                                    Product Ratings & Reviews
                                    </li>
                                    <li>
                                    Sales & Inventory Management System
                                    </li>
                                    <li>
                                    Multiple Currency Support
                                    </li>
                                    <li>
                                    Customer Login Area (Sign-Up & Sign-In)
                                    </li>
                                    <li>
                                    Mobile Responsive
                                    </li>
                                    <li>
                                    Social Media Designs (Facebook, Twitter, YouTube)
                                    </li>
                                    <li>
                                    Dedicated Team of Expert Designers & Developers
                                    </li>
                                    <li>
                                    Dedicated Project Manager
                                    </li>
                                    <li>
                                    News Letter Subscription
                                    </li>
                                    <li>
                                    100% Satisfaction Guarantee
                                    </li>
                                    <li>
                                    100% Money Back Guarantee*
                                    </li>
                                 </ul>
                                 </div>
                                 <div class="text-center">
                                    <button class="pack-btn">
                                       <span>Custom Quote</span>
                                    </button>
                                    <button onclick="javascript:$zopim.livechat.window.toggle()" class="view-more">
                                       <span>
                                          <img src="assets/images/icon/comment.png" alt="">
                                       </span>
                                       <span class="txt">
                                          LIVE CHAT
                                       </span>
                                    </button>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-12">
                  <ul class="d-flex align-items-center justify-content-between">
                     <li class="first last">
                        <a href="packages.html" class="view-more">
                           <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW ALL PACKAGES</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section id="audience-sec">
        <h2 class="audience-fade-hd">Lets lift up your business</h2>
        <div class="container">
           <div class="row">
              <div class="col-12">
                 <div class="audience-wrap">
                 </div>
              </div>
           </div>
        </div>
        <div class="aundience-txt-wrap">
           <div class="audience-img">
              <h4 class="aud-nm1 aud-nm">
                 Influencers
              </h4>
              <h4 class="aud-nm2 aud-nm">
                 Marketers
              </h4>
              <h4 class="aud-nm3 aud-nm">
                 Creators
              </h4>
              <h4 class="aud-nm4 aud-nm">
                 Winners
              </h4>
             <img src="assets/images/banner/audience.png" alt="">
            </div>
            <div class="container">
               <div class="aud-txt-wrap">
                  <div class="row align-items-center">
                     <div class="col-lg-5 col-md-6 col-12">
                           <div class="sec-txt aud-txt">
                              <h2>
                                 Learn to reach <br>your audience, <br> <span> digitally!</span>
                              </h2>
                           </div>
                        </div>
                           <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt aud-txt">
                                 <p>
                                    Like to grow your <span> brand </span> the same as these infuencers have done? It's just a click away!  
                                 </p>
                                  <a href="#" class="view-more view-morec popup-btn">
                                    <span><i class="fas fa-play"></i></span> <span class="txt"> REACH US NOW</span>
                                 </a>
                              </div>
                        </div>
                     </div>
               </div>
            </div>
        </div>
      </section>
      <section id="industries-sec">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-12">
                  <div class="sec-txt text-center indus-txt">
                     <h2 data-aos="fade-up" >Some of our clients from different industries!</h2>
                  </div>
               </div>
               <div class="col-lg-8 col-md-8 col-12">
                  <ul class="industries-icon-list">
                     <li>
                        <img src="assets/images/icon/id-1.png" alt="">
                        <img src="assets/images/icon/id-2.png" alt="">
                     </li>
                     <li>
                        <img src="assets/images/icon/id-3.png" alt="">
                        <img src="assets/images/icon/id-4.png" alt="">
                     </li>
                     <li>
                        <img src="assets/images/icon/id-5.png" alt="">
                        <img src="assets/images/icon/id-6.png" alt="">
                     </li>
                     <li>
                        <img src="assets/images/icon/id-7.png" alt="">
                        <img src="assets/images/icon/id-8.png" alt="">
                     </li>
                     <li>
                        <img src="assets/images/icon/id-9.png" alt="">
                        <img src="assets/images/icon/id-10.png" alt="">
                     </li>
                  </ul>
               </div>
               <div class="col-lg-4 col-md-4 col-12">
                  <div class="indust-slider-wrap">
                     <img src="assets/images/icon/quote.png" alt="" class="quote-img">
                     <ul class="indust-slider">
                        <li class="indus-slide-txt">
                           <p>
                              Thanks to New York Web Coders, we have progressed a lot in such a short time. We have been receiving a great response from our customers and planning to expand soon. 
                           </p>
                           <div class="ind-client-info">
                              <div class="client-img">
                                 <img src="assets/images/client.png" alt="">
                              </div>
                              <div>
                                 <h4>Henry Bent</h4>
                                 <p>CEO - Digital Agency</p>
                              </div>
                           </div>
                        </li>
                        <li class="indus-slide-txt">
                           <p>
                           Our brand wasn't doing well and we needed a serious revamp! They helped us make a strong impact on our target audience through unique digital ideas. Totally satisfied with the results!  
                           </p>
                           <div class="ind-client-info">
                              <div class="client-img">
                                 <img src="assets/images/review/rw2.png" alt="">
                              </div>
                              <div>
                                 <h4>Louis Martin</h4>
                                 <p>Technology Head</p>
                              </div>
                           </div>
                        </li>
                        <li class="indus-slide-txt">
                           <p>
                           We were having difficulties in promoting our brand in a cost-effective way. The team here made sure that they analyzed our requirements in detail and implemented effective ideas to bring up our brand digitally! 
                           </p>
                           <div class="ind-client-info">
                              <div class="client-img">
                                 <img src="assets/images/review/rw3.png" alt="">
                              </div>
                              <div>
                                 <h4>Juan Haglund</h4>
                                 <p>Marketing & PR Manager</p>
                              </div>
                           </div>
                        </li>
                     </ul>
                        
                  </div>
               </div>
               <div class="col-12 text-end">
                  <a href="review.html" class="view-more2 view-more2a">
                     <span><i class="fas fa-play"></i></span> <span class="txt"> SEE MORE</span>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <section id="faq-sec">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-lg-4 col-md-5 col-12">
                  <div class="sec-txt faq-txt" data-aos="fade-right">
                     <h2>
                        Know more about our services!
                     </h2>
                     <p>Your queries are welcomed, if you don't find your answers, you can always <span><a href="contact.html">contact us!</a></span> </p>
                     <p class="faq-p">For more technical questions</p>
                     <a href="faq.html" class="view-more">
                        <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW MORE</span>
                     </a>
                  </div>
               </div>
               <div class="col-lg-6 col-md-7 col-12">
                  <ul class="faq-ul faq-list">
                     <li class="first active" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>How long will you take to design & develop a website?</h4>
                        <div class="p1" style="">
                              <p>Since a website undergoes two different phases before it is ready to go live, it may take anywhere between 15 to 120 days to design and develop a complete website from scratch. However, the number of days is entirely dependent on the complexity of your project and the number of revisions you require.</p>
                        </div>
                     </li>
                     <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>How costly is the entire website project?</h4>
                        <div class="p1">
                              <p>The cost of the website depends on its structure and your business type. You can see all our pricing packages above.</p>
                        </div>
                     </li>
                     <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>What are some benefits of having a website?</h4>
                        <div class="p1" style="">
                              <p>In a world where the internet is ruling businesses and we are surrounded by technology, not having a website sounds irrational. A website will not only help in supporting your business by giving you a strong presence online but will also establish your brand identity amongst the masses.</p>
                        </div>
                     </li>
                     <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;"  data-aos="fade-up">
                        <h4>Can NewYork Web Coders help me update my old website?</h4>
                        <div class="p1" style="">
                              <p>Yes! We can revamp your old website and also build you a new one as per your business needs and requirements</p>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <div class="popup-layer"></div>
<section class="popup-wrap">
   <div class="popup">
      <!-- <div class="popup-hd-area">
         <h2 class="popup-hd">70% <span>DISCOUNT</span></h2>
         <h4 class="popup-primary-hd">EXCLUSIVELY IN</h4>
         <h3 class="popup-season-hd">WINTERS</h3>
      </div> -->
      <div class="popup-form-wrap">
         <button class="close-btn dis-popup"><i class="far fa-times"></i></button>
         <form class="popup-form" method="POST"  action="https://newyorkwebcoders.com/get_quote_data.php">
            <h4 class="season-banner">
               <span>SEASONAL OFFER</span>
            </h4>
            <h5 class="popup-coupon-hd">
               ACTIVATE YOUR <br> <span> 70% COUPON NOW!</span>
            </h5>
            <ul class="field-list">
               <li>
                  <input type="text" name="customer_name" class="popup-field" placeholder="Your Name">
                  <img src="assets/images/icon/f1.png" alt="" class="popup-field-icon">
               </li>
               <li>
                  <input type="text" name="profession" class="popup-field" placeholder="Your Profession">
                  <img src="assets/images/icon/f2.png" alt="" class="popup-field-icon">
               </li>
               <li>
                  <input type="text" name='customer_email' class="popup-field" placeholder="Your Email">
                  <img src="assets/images/icon/f3.png" alt="" class="popup-field-icon">
               </li>
               <li>
                  <input type="text" name="phone_number" class="popup-field" placeholder="Your Number">
                  <img src="assets/images/icon/f4.png" alt="" class="popup-field-icon">
               </li>
               <li>
                  <textarea id="message" name="message" rows="6" class="popup-field" placeholder="Your Message"></textarea>
                  <img src="assets/images/icon/f5.png" alt="" class="popup-field-icon">
               </li>
            </ul>
            
            <input type="hidden" name="lead_area" value="request a call" />
            <input type="submit" name="submit" value="GET STARTED NOW" class="popup-submit-btn">
         </form>
      </div>
   </div>
</section>      <input type="hidden" id="base_url" value="index.html" />
<footer>
   <div class="container position-relative footer-main">
      <img src="assets/images/banner/footer.png" alt="" class="footer-img">
      <div class="row">
         <div class="col-lg-4 col-md-7" data-aos="zoom-out" data-aos-duration="500">
            <div class="widget">
               <a href="#" class="f-logo">
                  <img src="assets/images/logo.png" alt="">
               </a>
               <p>Our web development firm is a one-stop shop that consists of highly skilled and creative developers, marketers, and designers that work together to provide the finest possible solutions that satisfy all of the client's needs.</p>
               <a href="#" class="address">
                  <span><i class="fas fa-map-marker-alt"></i></span>
                  <span>Syracuse, NY 13206 </span>
               </a>
                <a href="tel:(631) 456 4050" class="address">
                  <span><i class="fas fa-phone-alt"></i></span>
                  <span>+1 (855) 267-6540</span>
               </a>
                <a href="tel:(631) 456 4050" class="address">
                  <span><i class="fas fa-phone-alt"></i></span>
                  <span>+1 (631) 456 4050</span>
               </a>
              
                <a href="info%40newyorkwebcoders.html" class="address">
                  <span><i class="far fa-envelope"></i></span>
                  <span><span class="__cf_email__" data-cfemail="a5cccbc3cae5cbc0d2dccad7ced2c0c7c6cac1c0d7d68bc6cac8">[email&#160;protected]</span> </span>
               </a>
            </div>
         </div>
         <div class="offset-lg-1 col-lg-3 col-md-4 " data-aos="zoom-out" data-aos-offset="100" data-aos-duration="700">
            <div class="footer-widget">
               <h4>WHAT WE OFFER</h4>
               <ul class="footer-links">
                  <li><a href="web-design.html" class="link">Website Design</a></li>
                  <li><a href="web-development.html" class="link">Website Development</a></li>
                  <li><a href="ecommerce.html" class="link">E-Commerce</a></li>
                  <li><a href="mobile-application.html" class="link">Mobile Application</a></li>
                  <li><a href="brand-design.html" class="link">Branding and Design</a></li>
                  <li><a href="seo.html" class="link">Search Engine Optimization</a></li>
                  <li><a href="social-media.html" class="link">Social Media</a></li>
                  <li><a href="content-writing.html" class="link">Content Writing</a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-4" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="900">
            <div class="footer-widget footer-faq">
               <h4>COMPANY</h4>
               <ul class="footer-links">
                  <li><a href="about.html" class="link">About Us</a></li>
                  <li><a href="what-we-do.html" class="link">What we do</a></li>
                  <li><a href="packages.html" class="link">Packages</a></li>
                  <li><a href="portfolio.html" class="link">Portfolio</a></li>
                  <li><a href="review.html" class="link">Reviews</a></li>
                  <li><a href="contact.html" class="link">Contact Us</a></li>
               </ul>
            </div>
            <div class="footer-widget footer-widget2 footer-faq">
               <h4>FAQs</h4>
               <ul class="footer-links">
                  <li><a href="faq.html" class="link">Web Services FAQs</a></li>
                  <li><a href="seo-faq.html" class="link">SEO FAQs</a></li>
                  <li><a href="smm-faq.html" class="link">Social Media Maketing FAQs</a></li>
                  <li><a href="mobile-app.html" class="link">Mobile App Development FAQs</a></li>
                  <li><a href="content-faq.html" class="link">Content Writing FAQs</a></li>
                  <li><a href="branding-faq.html" class="link">Branding & Design FAQs</a></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="footer-row2">
         <div class="row">
            <div class="col-lg-7 col-md-12 col-12" data-aos="zoom-out" data-aos-duration="200">
               <div class="row">
                  <div class="col-md-6 col-12">
                     <img src="assets/images/icon/cards.png" alt="" class="cards-img">
                  </div>
                  <div class="col-md-6 col-12">
                     <ul class="footer-social-links">
                        <li>
                           <a href="https://www.facebook.com/newyorkwebcoders/">
                              <img src="assets/images/icon/fb.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img src="assets/images/icon/twitter.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img src="assets/images/icon/youtube.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img src="assets/images/icon/linkedin.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="https://instagram.com/newyorkwebcoder?utm_medium=copy_link">
                              <img src="assets/images/icon/insta.png" alt="">
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <img src="assets/images/icon/pinterest.png" alt="">
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <p class="copy-right"> 2021 Newyork Web Coders | All rights reserved.</p>
            </div>
            <div class="col-md-6">
              <ul class="footer-bottom-links">
                 <li>
                    <a href="terms.html" class="link2">Terms of Services</a>
                 </li>
                 <li>
                    <a href="privacy.html" class="link2">Privacy Policy</a>
                 </li>
              </ul>
            </div>
         </div>
      </div>
   </div>
</footer>



      
      </div>
</Layout>
  