---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
 
 <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/mob-app/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We expand...</h2>
                        <h1>with our efficient <br><span>mobile application</span></h1>
                        <h5>THAT WORKS FOR ALL</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#mobile-app-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="mobile-app-sec" class="section-padding2">
          <div class="mobile-app-img-area">
              <div class="container">
                  <div class="row">
                      <div class="col-12 text-center">
                          <img src="assets/images/mob-app/mobile.png" alt="" class="mobile-img">
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-9 col-md-12 col-12">
                      <div class="sec-txt text-pad text-center">
                          <h2>Smartphones are your one-tap solutions to<br>emerge in the world of advancing technology</h2>
                          <p>Smartphones have indeed generated a substantial target market for many businesses, but in order to meet the ever-increasing and rising innovative needs, the gadgets have undergone significant innovation. As a result, businesses looking to take advantage of the industry must stay up with the latest mobile app development trends. <br><br>

                          NewYork Web Coders is specialized in the most updated market-leading strategies for creating user-friendly yet complex applications for personal and business use. The applications we create are well-equipped and customized to match the needs of our clients.</p>
                      <div class="couple-btn-area d-flex align-items-center justify-content-between">
                            <a href="mobile-app.html" class="view-more">
                                <span><i class="fas fa-play"></i></span> <span class="txt">GOT QUESTION?</span>
                            </a>
                            <a href="mobile-portfolio.html" class="view-more">
                                <span><i class="fas fa-play"></i></span> <span class="txt">CHECK OUR WORK</span>
                            </a>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="mobile-tabs-sec" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <ul class="mobile-tabs-list">
                          <li data-targetit="box-11" class="current">
                             <button type="button" class="mob-tab-btn">
                                NATIVE
                             </button>
                          </li>
                          <li data-targetit="box-12">
                             <button type="button" class="mob-tab-btn">
                                HYBRID
                             </button>
                          </li>
                          <li data-targetit="box-13">
                             <button type="button" class="mob-tab-btn">
                                WEB
                             </button>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="box-11 showfirst">
              <div class="mob-tab-area" style="background-image: url(assets/images/mob-app/mt-b3.png)">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-md-6 col-12">
                              <div class="mt-img">
                                 <img src="assets/images/mob-app/mt-3.png" alt="">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt">
                                  <h3>Native App Development</h3>
                                  <p>Our marketing agency creates mobile applications that are native to specific compatible devices. A native application serves a brand in enhancing the customer experience. Due to its unique layout, it has a wide range of functions, great performance, and is swift and intuitive. For application development, we prefer Java, Objective C, Kotlin, or Swift languages.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="box-12">
              <div class="mob-tab-area" style="background-image: url(assets/images/mob-app/mt-b2.png)">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-md-6 col-12">
                              <div class="mt-img">
                                 <img src="assets/images/mob-app/mt-2.png" alt="">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt">
                                  <h3>Hybrid App Development</h3>
                                  <p>Hybrid applications are composites of native and web applications which leverage multi-platform web technologies. At NewYork Web Coders, we develop hybrid apps for companies that require a native wrapper for their current websites. Their multi-platform development reduces costs making them very popular among businesses. They are suitable content-basedapps.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="box-13" >
              <div class="mob-tab-area" style="background-image: url(assets/images/mob-app/mt-b.png)">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-md-6 col-12">
                              <div class="mt-img">
                                 <img src="assets/images/mob-app/mt-1.png" alt="">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt">
                                  <h3>Web Applications</h3>
                                  <p>NewYork Web Coders also develops web applications for businesses that do not need the downloadable applications. These applications are written in HTML5 and are more like websites run within a devices web-browser. Their performance significantly depends on the internet connection and are easy to update and maintain.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="customize-sec" class="section-padding2">
          <div class="container">
             <div class="row align-items-end">
                <div class="col-lg-5 col-md-5 col-12 text-right">
                    <img src="assets/images/mob-app/cust-img.png" alt="">
                </div>
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="sec-txt">
                        <h2>Customized Functional <br>Mobile Application</h2>
                        <p>Turn your established startup into a functional mobile app to reach the target market. Our team of developers have executed and planned several mobile applications, now driving significant growth and profit for our clients.</p>
                        <ul class="custome-feat-list">
                            <li style="background-color: #e5f5fa;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> Swift 
                            </li>
                            <li style="background-color: #e5f5fa;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> Lottie  
                            </li>
                            <li style="background-color: #fcf7e1;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> Android Studio  
                            </li>
                            <li style="background-color: #fcf7e1;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> Redux  
                            </li>
                            <li style="background-color: #fbe8e1;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> GraphQL 
                            </li>
                            <li style="background-color: #fbe8e1;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> Retrofit 
                            </li>
                            <li style="background-color: #ebf6f2;">
                              <span><img src="assets/images/mob-app/click.png" alt=""></span> Alamofire 
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
          </div>
      </section>
      <section id="mobile-develop-sec" class="section-padding3">
          <img src="assets/images/banner/clip2.png" alt="" class="mob-clip1">
       <div class="container">
           <div class="col-12">
               <div class="sec-txt text-center">
                   <h2>Why should you choose us for your <br>Mobile Application development?</h2>
                   <h5>The systematic yet responsive approach to both the customer and the application!</h5>
                   <div class="row justify-content-center">
                       <div class="col-lg-10 col-md-12 col-12">
                           <p>We are a group of professional developers with having experience in both native and cross-platform app development. Among other fields of app development, our professionals are experts in interactive and spectacular design, wireframe creation, User Experience mapping, UI/UX development, and Cross-Platform framework development. You can count on us to provide you with the best Mobile App Development solutions.</p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="mobile-dev-slider-wrap">
           <div class="container-fluid p-0">
               <div class="row justify-content-center">
                   <div class="col-lg-12 col-md-12 col-12">
                        <ul class="mobile-dev-slider">
                            <li>
                                <div class="mob-slider-item">
                                    <div class="slider-back-wrap">
                                            <img src="assets/images/mob-app/mob-slider.png" alt="" class="mobile-slider-back-img">
                                    </div>
                                    <div class="mobile-dev-slide text-center">
                                        <h4 class="scondary-hd-4">Wireframing</h4>
                                        <p class="secondary-para">A wireframe is a skeletal structure or blueprint for an app that allows for the arrangement of elements and provides a preview of the app to the client before it is developed, basically the placement of all of the information throughout the app.  Before the actual development of an app, it must have at least some type of page schematic. This blueprint allows a client to double-check that the product being generated is exactly what he or she wanted.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mob-slider-item">
                                    <div class="slider-back-wrap">
                                            <img src="assets/images/mob-app/mob-slider2.png" alt="" class="mobile-slider-back-img">
                                    </div>
                                    <div class="mobile-dev-slide text-center">
                                        <h4 class="scondary-hd-4">Cross Platform Framework</h4>
                                        <p class="secondary-para">One of the reasons our customers never forget us is because we design apps that support all mobile OS platforms. A successful mobile app has to have a cross-platform framework. It assures that no device, regardless of its type, operating system, or version, has restricted access to apps. </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mob-slider-item">
                                    <div class="slider-back-wrap">
                                            <img src="assets/images/mob-app/mob-slider3.png" alt="" class="mobile-slider-back-img">
                                    </div>
                                    <div class="mobile-dev-slide text-center">
                                        <h4 class="scondary-hd-4">Interactive and Spectacular Design</h4>
                                        <p class="secondary-para">Our app designs are visually stunning and appealing without sacrificing functionality. We conduct a thorough business analysis that guides us in developing a design that reflects the brand's vision.  The appealing design and ease of use of the apps we create keep users captivated, allowing them to access them without interruption.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mob-slider-item">
                                    <div class="slider-back-wrap">
                                            <img src="assets/images/mob-app/mob-slider4.png" alt="" class="mobile-slider-back-img">
                                    </div>
                                    <div class="mobile-dev-slide text-center">
                                        <h4 class="scondary-hd-4">User Experience Mapping</h4>
                                        <p class="secondary-para">Our developers produce apps with satisfying user experiences by paying close attention to business analysis results and customer preferences. We research consumers, map different user experiences, and create patterns from which we develop apps with a quality UX.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="mob-slider-item">
                                    <div class="slider-back-wrap">
                                            <img src="assets/images/mob-app/mob-slider5.png" alt="" class="mobile-slider-back-img">
                                    </div>
                                    <div class="mobile-dev-slide text-center">
                                        <h4 class="scondary-hd-4">UI/UX</h4>
                                        <p class="secondary-para">In order to create an attractive mobile app, the user interface and user experience must be considered. Our app development professionals at NewYork Web Coders are UI/UX experts who work tirelessly to develop applications that are tailored to organizational requirements. Our mission is to provide nothing less than the best service possible.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                   </div>
               </div>
           </div>
       </div>
      </section>
      <section id="web-fact-sec" class="section-pad">
          <h2 class="fact-hd">Mobile App Facts</h2>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="counter-area" id="counter">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="70">0</span>%</div>
                            <svg  class="meter-svg svg" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>of people who are looking for information on a mobile app are sure to convert into customers</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"><span class="count svg-counter"  data-count="50">0</span>%</div>
                            <svg  class="meter-svg svg red" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>of shoppers prefer shopping on mobile apps rather than mobile o</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"><span class="count svg-counter"  data-count="85">0</span>%</div>
                            <svg  class="meter-svg svg green" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                         </div>
                         <p>of B2B marketers believe that mobile app dev. holds a  signific</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="work-sec">
         <div class="container position-relative">
            <img src="assets/images/banner/clip2.png" alt="" class="clip2 clip-rt-y">
            <div class="row justify-content-center">
               <div class="col-lg-8 col-md-10 col-12">
                  <div class="sec-txt text-center">
                     <h2 data-aos="fade-up">Our Work, that speaks for itself!</h2>
                  </div>
                  <div class="work-wrap">
                     <ul class="work-list">
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work1.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk1.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work2.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk2.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work3.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk3.png" alt="" class="work-m-img">
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-12">
                  <ul class="d-flex align-items-center justify-content-between">
                     <li>
                        <a href="mobile-portfolio.html" class="view-more">
                           <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW ALL PORTFOLIO</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <input type="hidden" id="base_url" value="index.html" />
    </Layout>