---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
    
    <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/portfolio/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We build...</h2>
                        <h1>with creativity & vision  <br><span> to leave the best</span></h1>
                        <h5>IMPRESSION ON OUR VIEWERS  </h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#porftolio-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="porftolio-sec" class="section-pad">
          <div class="container">
              <div class="row ">
                  <div class="col-12">
                      <ul class="portfolio-btns tabing-btns-list" data-aos="fade-up">
                          <li class="active" data-tabing="all" data-tabinghd="Exceptional Websites, Exclusive Logos, <br> and Creative Branding!">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t1.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t10.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>ALL <br> WE DID!</p>
                              </div>
                          </li>
                          <li data-tabing="web" data-tabinghd="Exceptional Websites Designs for our special clients">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t2.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t20.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>WEB <br> SERVICES</p>
                              </div>
                          </li>
                          <li data-tabing="mobile" data-tabinghd="Absolute Mobile App Designs for business that wish to move forward">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t3.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t30.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>MOBILE <br>APPLICATION</p>
                              </div>
                          </li>
                          <li data-tabing="branding" data-tabinghd="Absolute Branding for customers which stands them out form the competition">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t4.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t40.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>BRANDING <br>& DESIGN</p>
                              </div>
                          </li>
                          <li data-tabing="social" data-tabinghd="Social Media creative designs as per Brand Image">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t5.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t50.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>SOCIAL <br> MEDIA</p>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-12 col-lg-12">
                      <div class="sec-txt">
                          <h2 class="portfolio-hd tab-hd text-center" data-aos="fade-up">
                             Exceptional Websites, Exclusive Logos,<br> and Creative Branding!
                          </h2>
                      </div>
                  </div>
              </div>
              <div class="row portfolio-list tabing-item-list active">
                 
                  <div class="col-12 portfolio-item tabing-item all web">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt2.png" alt="" class="portfolio-img " >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Grandpa’s Garrage</h2>
                                  <p>They are the best when it comes to Vintage Exotic Cars.</p>
                                  <a href="assets/images/portfolio/vintage-car.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all web">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt3.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Bonchon</h2>
                                  <p>They share the joy of Korean Comfort Food around the world.</p>
                                  <a href="assets/images/portfolio/fried-chicken.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all web">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt4.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Eyelashes Unlimited</h2>
                                  <p>See the world with beautiful eyes. Let your look express the real you.</p>
                                  <a href="assets/images/portfolio/eye-lashes.jpg" class="view-more" data-fancybox="portfolio" >
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all web">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt7.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Photography Town</h2>
                                  <p>To capture the beautification of world in minor objects that we pass through in our daily lives.</p>
                                  <a href="assets/images/portfolio/photo-studio.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all web">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt8.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>KOLES0209</h2>
                                  <p>Your One stop shop for Purchase & Installation of Tyres.</p>
                                  <a href="assets/images/portfolio/tyre.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all web">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt6.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Wood Grain</h2>
                                  <p>Fine Wood works that can be customizable as per your needs.</p>
                                  <a href="assets/images/portfolio/wood.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- mobile -->


                  <div class="col-12 portfolio-item tabing-item all mobile">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptm1.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Grocery Items</h2>
                                  <p>Thoughtfull yet real experience of having access to your daily grocery store on your phone!</p>
                                  <a href="assets/images/portfolio/grocery.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all mobile">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptm2.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Scan your Product</h2>
                                  <p>Get information of any product through your phone. Just scan, wait and discover!</p>
                                  <a href="assets/images/portfolio/scan.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all mobile">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptm3.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Dine Perfect</h2>
                                  <p>Just the perfect dining experience, which you want to avail again and again.</p>
                                  <a href="assets/images/portfolio/dine.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all mobile">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptm4.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Gaming World</h2>
                                  <p>Gear up your strategic yet mindful tactics, this gaming world is not easy to pass on.</p>
                                  <a href="assets/images/portfolio/gaming.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all mobile">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptm5.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Stay Fit</h2>
                                  <p>Stayng fit and healthy is the key to strength through which you can achieve anything, so are you ready to give your mind and body a fitness treatment?</p>
                                  <a href="assets/images/portfolio/fit.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all mobile">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptm6.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Tour de World</h2>
                                  <p>Explore, Wonder, Discover and repeat!</p>
                                  <a href="assets/images/portfolio/tour.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- mobile end -->

                  <!-- branding -->


                  <div class="col-12 portfolio-item tabing-item all branding">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt1.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Born to be</h2>
                                  <p>Provides an opportunity to Music Lovers to exhibit their Talent and improvise on their Artistic Skills.</p>
                                  <a href="assets/images/portfolio/born.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all branding">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptb2.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Caffe Caffeine</h2>
                                  <p>It’s time you get to give yourself an organic caffeine boost!</p>
                                  <a href="assets/images/portfolio/caffe.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all branding">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pt5.png" alt="" class="portfolio-img" >
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Chickdo</h2>
                                  <p>Crispiest and juciest with the taste you have never experienced before</p>
                                  <a href="assets/images/portfolio/chickdo.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all branding">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptb4.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Yellow Images</h2>
                                  <p>Look casually classy or fashionably funky that is up to you! We have it all.</p>
                                  <a href="assets/images/portfolio/yellow.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all branding">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptb5.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Cafe and Bakery</h2>
                                  <p>Fresh, soft, and deliciously baked items, with a satisfying combination of multiple beverages.</p>
                                  <a href="assets/images/portfolio/cafe.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all branding">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/ptb6.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Creative World Photography</h2>
                                  <p>See the beauty of world from a photographer’s perspective.</p>
                                  <a href="assets/images/portfolio/creative.jpg" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- branding end -->



                  <!-- social media -->


                  <div class="col-12 portfolio-item tabing-item all social">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pts1.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Gaming around</h2>
                                  <p>Right plans can be beneficial for you before you make your move.</p>
                                  <a href="assets/images/portfolio/sgaming.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all social">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pts2.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Fitness Goals</h2>
                                  <p>Love your body, get in the perfect shape, because you deserve to look the best out of yourself!</p>
                                  <a href="assets/images/portfolio/sfit.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all social">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pts3.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Pizza Party</h2>
                                  <p>Their flavors and sauces can make you eat even more after your last slice!</p>
                                  <a href="assets/images/portfolio/pizza.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all social">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pts4.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Grill to Eat</h2>
                                  <p>For those who really love to eat deliciously grilled food.</p>
                                  <a href="assets/images/portfolio/grill.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all social">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pts5.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>Estamos EM</h2>
                                  <p>Globally giving the best business advices to help achieve maximum outcomes.</p>
                                  <a href="assets/images/portfolio/estamos.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item tabing-item all social">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="portfolio-img-area">
                                  <img src="assets/images/portfolio/pts6.png" alt="" class="portfolio-img ">
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt portfolio-text">
                                  <h2>STV Vocacional</h2>
                                  <p>The Measure Of Love And Love Without Measure.</p>
                                  <a href="assets/images/portfolio/stv.png" class="view-more" data-fancybox="portfolio">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">WHAT WE CREATED</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>




                  <!-- social media end -->




              </div>
              <!-- <div class="row">
                  <div class="col-12 text-center">
                    <a href="#quote-sec" class="down-btn down-btnb">
                        <span>learn more</span>
                        <img src="./assets/images/icon/arrow2.png" alt="">
                    </a>
                  </div>
              </div> -->
          </div>
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <input type="hidden" id="base_url" value="index.html" />

      </Layout>