---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
    
  
  <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/review/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We believe...</h2>
                        <h1>in gaining highest<br><span>customer satisfaction</span></h1>
                        <h5>WITH OUR WORK</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#rev" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="rev" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-txt">
                          <h2>What do people think or say about us?</h2>
                      </div>
                  </div>
              </div>
              <div class="review-area">
                <div class="row justify-content-between review-row">
                <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">Thanks to New York Web Coders, we have progressed a lot in such a short time. We have been receiving a great response from our customers and planning to expand soon. </p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw1.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Henry Bent</h6>
                                    <p class="reviewer-designation m-0">CEO - Digital Agency</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">Our brand wasn't doing well and we needed a serious revamp! They helped us make a strong impact on our target audience through unique digital ideas. Totally satisfied with the results! </p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw2.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Louis Martin</h6>
                                    <p class="reviewer-designation m-0">Technology Head</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">We were having difficulties in promoting our brand in a cost-effective way. The team here made sure that they analyzed our requirements in detail and implemented effective ideas to bring up our brand digitally!</p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw3.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Juan Haglund</h6>
                                    <p class="reviewer-designation m-0">Marketing & PR Manager</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">We are a start-up and in dire need of experts to help us with brand development. New York Web Coders stood by us through the whole process and handled everything smoothly, from logo design to website-building!</p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw4.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Amber Jamal</h6>
                                    <p class="reviewer-designation m-0">Restaurant Owner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">This digital agency definitely deserves thumbs up from our side! We are working on a number of brands and for that, we needed the correct digital tools. The people here understood what we wanted and delivered more than expected! </p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw5.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Lindsey Shatzer</h6>
                                    <p class="reviewer-designation m-0">Managing Director</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">We needed a striking website to enter the digital world. After hearing about the experienced team here, we decided to hire them for the task! Let's just say they proved to the best choice.</p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw6.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Robert Turner</h6>
                                    <p class="reviewer-designation m-0">Industrialist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 review-box-wrap">
                        <div class="review-box">
                            <p class="review-p">Their performance is impressive. They make sure to follow all the instructions during the whole process. Plus, their designs are great too. Working with them was a good experience.</p>
                            <div class="reviewer-info d-flex align-items-center">
                                <img class="reviewer-img" src="assets/images/review/rw7.png" alt="">
                                <div>
                                    <h6 class="reviewer-name">Nora Fitzgerald</h6>
                                    <p class="reviewer-designation m-0">Biophysicist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <img src="assets/images/review/girl.png" class="review-girl">
              </div>
              <img src="assets/images/faq/clip.png" class="faq-clip contact-clip">
          </div>
      </section>
      <section id="audience-sec">
        <h2 class="audience-fade-hd">Let’s lift up your business</h2>
        <div class="container">
           <div class="row">
              <div class="col-12">
                 <div class="audience-wrap">
                 </div>
              </div>
           </div>
        </div>
        <div class="aundience-txt-wrap">
           <div class="audience-img">
              <h4 class="aud-nm1 aud-nm">
                 Influencers
              </h4>
              <h4 class="aud-nm2 aud-nm">
                 Marketers
              </h4>
              <h4 class="aud-nm3 aud-nm">
                 Creators
              </h4>
              <h4 class="aud-nm4 aud-nm">
                 Winners
              </h4>
             <img src="assets/images/banner/audience.png" alt="">
            </div>
            <div class="container">
               <div class="aud-txt-wrap">
                  <div class="row align-items-center">
                     <div class="col-lg-5 col-md-6 col-12">
                           <div class="sec-txt aud-txt">
                              <h2>
                                 Learn to reach <br>your audience, <br> <span> digitally!</span>
                              </h2>
                           </div>
                        </div>
                           <div class="col-lg-5 col-md-6 col-12">
                              <div class="sec-txt aud-txt">
                                 <p>
                                    Like to grow your <span> brand </span> the same as these infuencers have done? It's just a click away!  
                                 </p>
                                  <a href="#" class="view-more view-morec popup-btn">
                                    <span><i class="fas fa-play"></i></span> <span class="txt"> REACH US NOW</span>
                                 </a>
                              </div>
                        </div>
                     </div>
               </div>
            </div>
        </div>
      </section>
      <section id="experience-sec" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-txt text-center">
                          <h2>Customer Experiences in a Word</h2>
                      </div>
                  </div>
              </div>
              <div class="experience-list">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp1.png" alt="">
                              </div>
                              <span class="xp-text xp-text1">
                                  Excellent Service!
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp2.png" alt="">
                              </div>
                              <span class="xp-text xp-text2">
                              Best Team
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp3.png" alt="">
                              </div>
                              <span class="xp-text xp-text3">
                              Get Going
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp4.png" alt="" >
                              </div>
                              <span class="xp-text xp-text4">
                              Highly Recommended!
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp5.png" alt="" class="img3">
                              </div>
                              <span class="xp-text xp-text5">
                              Outrageous
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp6.png" alt="">
                              </div>
                              <span class="xp-text xp-text6">
                              Ideal Platform
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp7.png" alt="" >
                              </div>
                              <span class="xp-text xp-text7">
                              Tension Free
                              </span>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-12">
                          <div class="experience-item">
                              <div class="experience-img">
                                <img src="assets/images/about/xp8.png" alt="" class="img8">
                              </div>
                              <span class="xp-text xp-text8">
                              Very Supportive
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <img src="assets/images/banner/clip2.png" alt="" class="brand-clip2 clips">
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>      <input type="hidden" id="base_url" value="index.html" />

      </Layout>