---
import Layout from '../layouts/Layout.astro' 
---
<Layout>

     <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/seo/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We generate...</h2>
                        <h1>potential leads <br><span> for you</span></h1>
                        <h5>relevant and convertible!</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#seo-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="seo-sec" class="section-padding2">
          <div class="container-fluid p-0">
              <div class="row web-design-list">
                  <div class="col-12 tabing-item all-web web-design-main">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text seo-text">
                                  <h2>What is Search Engine <br> Optimization (SEO)?</h2>
                                  <p>SEO is the use of a set of keywords to rank website higher in search engines improving its organic discoverability. This results into an increase in traffic in both quantity (number of people visiting the site) and quality (the right traffic). Improving organic discoverability is an important aspect of website development as it yields the highest quality traffic translating to higher conversion rates than other forms of discoverability. At NewYork Web Coders, we take up the initiative to improve the quality and quantity of your website traffic by implementing the best tactics in SEO marketing.</p>
                                  <a href="seo-faq.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">GOT QUESTION?</span>
                                </a>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div >
                                  <img src="assets/images/seo/seo.png" alt="" class="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-10 col-md-12 col-12">
                                  <div class="sec-txt text-center text-padding">
                                      <h2>NewYork Web Coder’s SEO</h2>
                                      <p>Understanding your specific requirements for SEO in USA. we provide custom packages and set expectations which are real and achievable. Breaking numbers and analyzing them has worked best for our clients. NewYork Web Coders, providing all under one roof SEO services to websites across the globe in line with their website’s target market. We offer many distinct SEO deliverables that include:</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 tabing-item web-ecommerce-item seo ">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt">
                                  <h3>Local and Regional SEO</h3>
                                  <p>Search Engine Optimization is market oriented and thus it targets a specific location to generate the right traffic. It could be either local or regional SEO. Local SEO focuses on a specific particular region and is best suited for local businesses whereas, Regional SEO focuses on a larger market area, making it ideal for businesses that operates across continents.</p>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12 p-0">
                          <img src="assets/images/seo/1.png" alt="" class="w-design-img">
                          </div>
                      </div>
                  </div>
                  <div class="col-12 tabing-item web-ecommerce-item seo">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt">
                                  <h3>On-page Optimization</h3>
                                  <p>On-page optimization is the process of improving the visibility of individual web pages by optimizing them to rank better in search engines. The page URL structure, page title, Meta description, images and their alternative texts, and content (which should be relevant, topic-specific, unique, written in the query language of the searcher, and containing the right density of the most relevant keywords) are all important aspects of on-page optimization.</p>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12 p-0">
                          <img src="assets/images/seo/2.png" alt="" class="w-design-img">
                          </div>
                      </div>
                  </div>
                  <div class="col-12 tabing-item web-ecommerce-item seo">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt">
                                  <h3>Off-page Optimization</h3>
                                  <p>Off-page optimization is a process of improving a webpage's and a website's overall rating on search engine results pages (SERPs) by relying on other websites or web pages on the internet. It's a type of website promotion that goes beyond the design and involves things like linking/back-linking to other popular websites, social media sharing, and influencer marketing and social bookmarking.</p>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12 p-0">
                          <img src="assets/images/seo/3.png" alt="" class="w-design-img">
                          </div>
                      </div>
                  </div>
                  <div class="col-12 tabing-item web-ecommerce-item seo">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt">
                                  <h3>Online Reputation Management</h3>
                                  <p>Online Reputation Management is all about crafting tactics to influence/shape the perception of the audience have about a business on the internet.  Maintaining a positive public perception requires analyzing online reviews and acting accordingly, providing relevant and suitable information to dispel uncertainties, and regulating conversations.</p>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12 p-0">
                          <img src="assets/images/seo/4.png" alt="" class="w-design-img">
                          </div>
                      </div>
                  </div>
                  <div class="col-12 tabing-item web-ecommerce-item seo">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt">
                                  <h3>SEO Audit</h3>
                                  <p>Website analysis helps us in developing a practical and effective SEO strategy. We ensure that our efforts are directed in the appropriate way and that customers receive a website that responds to all SEO actions undertaken because we are a performance-driven SEO company in USA. This is a frequent and ongoing process aimed at keeping a site in good working order.</p>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12 p-0">
                          <img src="assets/images/seo/5.png" alt="" class="w-design-img">
                          </div>
                      </div>
                  </div>
                  <div class="col-12 tabing-item web-ecommerce-item seo">
                      <div class="row justify-content-between align-items-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt">
                                  <h3>SEO Analytics and Reporting</h3>
                                  <p>These are monitoring and evaluation tools that measure and report on all elements of a website's performance, including Google Analytics, Semrush Analytics, and Moz Analytics, among others. The total, organic, and sponsored traffic, as well as the source of the traffic, traffic conversion, and bouncing rate, are all monitored. Our experts will assist you in reading and interpolating the data as well as advising you on the best course of action.</p>
                              </div>
                          </div>
                          <div class="col-lg-5 col-md-6 col-12 p-0">
                          <img src="assets/images/seo/6.png" alt="" class="w-design-img">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
      </section>
      <section id="tabing-sec">
          <div class="container">
              <div class="row justify-content-center align-items-center">
                 <div class="col-12">
                 <div class="sec-txt sec-txt2 text-center">
                 <h2>How do we do it step by step?</h2>
                 </div>
                 </div>
                  <div class="col-3 col-md-12">
                      <div class="sec-txt sec-txt2 text-center">
                          <ul class="faeture-btns-slider">
                              <li class="current" data-targetit="box-1">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/seo/f1.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/seo/f10.png" alt="">
                                          </div>
                                        </div>
                                        <h6>SEO <br>Audit</h6>
                                  </div>
                              </li>
                              <li  data-targetit="box-2">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/seo/f2.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/seo/f20.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Keyword <br>Research</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-3">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/seo/f3.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/seo/f30.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Competition <br>Analysis</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-4">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/seo/f4.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/seo/f40.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Startegy <br>Development</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-5">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/seo/f5.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/seo/f50.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Optimizing <br>Website</h6>
                                  </div>
                              </li>
                          </ul>
                         
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-12 col-9 text-center">
                    <ul class="p-list">
                        <li class="box-1 showfirst sec-txt sec-txt2 active">
                            <p>An SEO audit is a comprehensive assessment of a website's technical health. Its goal is to find what isn't functioning and what has to be fixed in order to improve a site's visibility. In SEO audits, there are several checks to be made, and at NewYork Web Coders, we've established a detailed checklist of essential areas/issues to check.</p>
                        </li>
                        <li class="box-2 sec-txt sec-txt2 ">
                            <p>Keyword research is essential for developing SEO-friendly content for any website. Keyword research, on the other hand, is more important for selecting the proper keywords, which can make promotional campaigns more successful. This is because keyword research allows you to discover new search words and identify the ones that, if targeted, would yield better results.</p>
                        </li>
                        <li class="box-3 sec-txt sec-txt2 ">
                            <p>Competition analysis is an important SEO factor to consider. Assessment of top-level competitors and their utilization of particular keywords should be done to comprehend one’s rivals and their weaknesses so as to gain an edge over them.  Team at NewYork Web Coders assesses the client's website's strengths and flaws in compared to the competitions.</p>
                        </li>
                        <li class="box-4 sec-txt sec-txt2 ">
                            <p>It's critical to have a well-thought-out web marketing strategy. Developing an SEO marketing strategy necessitates extensive research into a company's services, social media channels, and products. We assess our clients' website conversion goals and build website-specific tactics to improve organic traffic and conversion rates at NewYork Web Coders.</p>
                        </li>
                        <li class="box-5 sec-txt sec-txt2 ">
                            <p>Every website strives to achieve omnipresence because of the numerous websites on the internet. To ensure that a website appears at the top of search engine results, it must be optimized. The process of website optimization is not a one-time event; it necessitates ongoing maintenance, modifications, and testing.</p>
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
          <img src="assets/images/about/clip1.png" alt="" class="about-clip1">
      </section>
      <section id="trusted" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-txt text-center text-padding">
                          <h2 class="trust-hd">Trusted by the Industry Winners</h2>
                      </div>
                      <ul class="trust-tabs my-0">
                          <li>
                              <img src="assets/images/seo/t1.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/seo/t2.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/seo/t3.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/seo/t4.png" alt="">
                          </li>
                     </ul>
                      <ul class="trust-tabs my-0">
                          <li>
                              <img src="assets/images/seo/t5.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/seo/t6.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/seo/t7.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/seo/t8.png" alt="">
                          </li>
                     </ul>
                  </div>
              </div>
          </div>
      </section>
      <section id="seo-services" class="section-padding2">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-11 col-md-12">
                      <div class="sec-txt text-center text-padding">
                          <h2>Outcomes of our service</h2>
                          <p>
                          We realise how important it is for you to be in the top search engine results and for your website to receive organic and natural traffic. To reach the KPIs listed below, our SEO services comprise powerful and effective On-page and Off-page optimization, link building operations, lead generation, and online reputation management.
                          </p>
                      </div>
                  </div>
              </div>
               <div class="row align-items-center">
                  <div class="col-lg-12 col-md-12 col-12">
                     <ul class="seo-service-list">
                        <li>
                           <div class="what-bos">
                               <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 More <br>Visibility
                                 </h4>
                                 <hr>
                                 <p>Your brand will have better visibility on SERPs</p>
                              </div>
                              <img src="assets/images/seo/wh-icon1.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Organic <br>Traffic
                                 </h4>
                                 <hr>
                                 <p>Better visibility leads to greater organic traffic</p>
                              </div>
                              <img src="assets/images/seo/wh-icon2.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>

                              <div class="what-box-txt">
                                 <h4>
                                 Outrank  <br>Competition
                                 </h4>
                                 <hr>
                                 <p>Best strategies are developed to outrank the competitors</p>
                              </div>
                              <img src="assets/images/seo/wh-icon3.png" alt="" class="what-ic">
                           </div>
                        </li>
                        <li>
                           <div class="what-bos">
                           <div class="after"></div>
                              <div class="what-box-txt">
                                 <h4>
                                 Increase  <br>in ROI
                                 </h4>
                                 <hr>
                                 <p>Max ROI is guaranteed with our advanced SEO strategies</p>
                              </div>
                              <img src="assets/images/seo/wh-icon4.png" alt="" class="what-ic">
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
          </div>
      </section>
      <section id="web-fact-sec" class="section-pad">
          <h2 class="fact-hd">SEO Facts</h2>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="counter-area" id="counter">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="80">0</span>%</div>
                            <svg  class="meter-svg svg" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>of online users completely <br> ignore paid ads</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="51">0</span>%</div>
                            <svg  class="meter-svg svg red" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>of all website traffic <br> comes from organic <br> searches</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="93">0</span>%</div>
                            <svg  class="meter-svg svg green" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                         </div>
                         <p>of mobile users are likely  to click on the first set of results when doing a “near me” search</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="work-sec">
         <div class="container position-relative">
            <img src="assets/images/banner/clip2.png" alt="" class="clip2 clip-rt-y">
            <div class="row justify-content-center">
               <div class="col-lg-8 col-md-10 col-12">
                  <div class="sec-txt text-center">
                     <h2 data-aos="fade-up">Our Work, that speaks for itself!</h2>
                  </div>
                  <div class="work-wrap">
                     <ul class="work-list">
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work1.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk1.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work2.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk2.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work3.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk3.png" alt="" class="work-m-img">
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-12">
                  <ul class="d-flex align-items-center justify-content-between">
                     <li>
                        <a href="portfolio.html" class="view-more">
                           <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW ALL PORTFOLIO</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>     

    </Layout>