---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
     <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/faq/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2>We solve...</h2>
                        <h1>all your possible<br><span>queries & questions</span></h1>
                        <h5>WITH EXPERTS’ SUGGESTIONS</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#porftolio-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="porftolio-sec" class="section-pad">
          <div class="container">
              <div class="row ">
                  <div class="col-12 ">
                      <ul class="portfolio-btns tabing-btns-list all-faq-btns">
                          <li data-tabing="web">
                             
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/portfolio/t2.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/portfolio/t20.png" class="pt-tb-img2 pt-tb-img">
                                    </div>
                                    <p>WEB <br>SERVICES</p>
                                </div>
                          </li>
                          <li data-tabing="mobile">
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/portfolio/t3.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/portfolio/t30.png" class="pt-tb-img2 pt-tb-img">
                                    </div>
                                    <p>MOBILE <br>APPLICATION</p>
                                </div>
                          </li>
                          <li data-tabing="brand">
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/portfolio/t4.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/portfolio/t40.png" class="pt-tb-img2 pt-tb-img">
                                    </div>
                                    <p>BRANDING <br>& DESIGN</p>
                                </div>
                          </li>
                          <li data-tabing="social"   class="active">
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/portfolio/t5.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/portfolio/t50.png" class="pt-tb-img2 pt-tb-img">
                                    </div>
                                    <p>SOCIAL <br> MEDIA</p>
                                </div>
                          </li>
                          <li data-tabing="seo">
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/packages/t6.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/packages/t60.png" class="pt-tb-img2 pt-tb-img">
                                    </div>
                                    <p>SEO <br> SERVICE</p>
                                </div>
                          </li>
                          <li data-tabing="content">
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/packages/t7.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/packages/t70.png" class="pt-tb-img2 pt-tb-img">
                                    </div>
                                    <p>CONTENT <br> WRITING</p>
                                </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="faqs-wrap">
                <div class="row tabing-item-list active">
                    <div class="col-12 tabing-item web">
                        <ul class="faq-ul all-faq-list">
                            <li class="first active" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How long will it take to design & develop a website?</h4>
                                <div class="p1">
                                    <p>Since a website undergoes two different phases before it is ready to go live, it may take anywhere between 15 to 120 days to design and develop a complete website from scratch. However, the number of days depends entirely on the complexity of your project and the number of revisions you require.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How costly is the entire website project?</h4>
                                <div class="p1">
                                    <p>The cost of the website depends on its structure and your business type. You can see all our pricing packages above.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can I see my website project in progress?</h4>
                                <div class="p1">
                                    <p>Yes, you can. We provide you with a username and password to access the website mainframe and see the progress. You can also give us your feedback and suggestions while your website is in the design phase.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can I make changes to the final website without additional cost?</h4>
                                <div class="p1">
                                    <p>During the website design phase, our designers will offer you multiple templates to choose from. Once you have selected a specific theme, only then will we make revisions as per your requirements when the website is under construction.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can NewYork Web Coders help me update my old website?</h4>
                                <div class="p1">
                                    <p>Yes! We can revamp your old website and also build you a new one as per your business needs and requirements.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>When will I get the copyrights of my new website?</h4>
                                <div class="p1">
                                    <p>Once we deliver the complete website to you, you will get complete copyrights to your site.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Do you offer content writing services for the website?</h4>
                                <div class="p1">
                                    <p>Yes, we do! Our creative content writing team will write suitable content that best fits your business niche and industry. However, if you have any specific content that you would like added on your website, you are welcome to provide us with that too.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Do I own my website?</h4>
                                <div class="p1">
                                    <p>Yes! Once your website is complete, you will be given complete ownership of your website.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What are some benefits of having a website?</h4>
                                <div class="p1">
                                    <p>In a world where the internet is ruling businesses and we are surrounded by technology, not having a website sounds irrational. A website will not only help in supporting your business by giving you a strong presence online but will also establish your brand identity amongst the masses.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 tabing-item mobile">
                        <ul class="faq-ul all-faq-list">
                            <li class="first active" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How long it takes to develop a mobile App?</h4>
                                <div class="p1">
                                    <p>The features requirement and the complexity of an App largely determine how long it takes to develop it. The first edition of a mobile app, on the other hand, typically takes 4-6 months to develop. Due to differences in elements from one App development to the next, predicting the precise time required to construct an App is nearly impossible, even if one has all of the necessary details.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What is the difference between Cross-platform developments vs. Native App development?</h4>
                                <div class="p1">
                                    <p>Native App development is the creation of apps using a programming language that is specific to a platform, such as the creation of an app that is only compatible with the Android OS. Cross-platform development, on the other hand, refers to the creation of apps that can operate on many platforms, such as the creation of an app that works on both Android and iOS.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What will happen to my App with new OS releases in both IOS and Android?</h4>
                                <div class="p1">
                                    <p>Apps are affected in several ways by a new OS release or an operating system update. If the new version includes significant changes to the SDKs that Apps rely on, the App code may break and the App may stop working. A new update may also introduce UI convention modifications that may have an impact on an App's efficiency, such as distorting the visual appearance, navigability, and inconvenient changes to the icons and design card. <br> As a result, it's critical to create an app with forward compatibility so that code may be updated in parallel with new OS updates. Updates include patches to make the App compatible with the new or updated OS, as well as the requirements for the App to utilize the new release's features. </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What is the benefit of a mobile App over a mobile website?</h4>
                                <div class="p1">
                                   <ul>
                                       <li><p>Apps are over 1.5 faster than the mobile website and perform actions such as upload and download among others much faster too</p></li>
                                       <li><p>Apps gives instant access, whether online or offline. Offline access to information is a plus.</p></li>
                                       <li><p>Apps have push notification missing in mobile websites, users get non-intrusive notifications instantly.</p></li>
                                       <li><p>Apps allows users to set their preferences thus customizing and personalizing their content</p></li>
                                       <li><p> An App is an independent entity that gives a good branding opportunity</p></li>
                                       <li><p>Apps have extra functionality tied to the device features missing on mobile websites such as the ability to scan documents, QR and Bar Codes using the device camera, click-to-call or SMS connected to the phone and GPS to connect with maps among other functionalities</p></li>
                                       <li><p>Apps also can be coded to have extra functions tied to user’s swipe gestures such as pinching, dragging, long holding, double tapping etc. that perform different actions increasing user-friendliness.</p></li>
                                       <li><p>Apps can contribute significantly to a website content ranking as Google currently also ranks in-app content too.</p></li>
                                       <li><p>Apps give better interactivity such as gaming on an App as compared to online gaming</p></li>
                                       <li><p>Apps have better data collection, handling, processing, interpretation and reporting as compared to websites. Example: The App working in the background can collect information on consumer behavior and the collected information be used to send geo-targeted push notifications.</p></li>
                                   </ul>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How do I manage content on the mobile App?</h4>
                                <div class="p1">
                                    <p>Mobile Content Management Systems (MCMS) are used to manage the content on the mobile app (CMS). The type of mobile CMS you use, whether it's a mobile App content backend CMS, an admin App CMS, or a responsive website, is determined by the nature of your app. To address the individual needs of different Apps, developers have had to create custom CMS such as own custom backend CMS, Mobile Backend as a Service (MBaaS) CMS, and more recently API-based CMS.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What If I want any modification in my application once it is launched?</h4>
                                <div class="p1">
                                    <p>Using Google Play Developer Publishing API Edits methods you can edit or modify an App that is already launched. The Edit methods facilitate modification of an App whether a single or multiple modifications and the deploying of all the modifications at once.  Simply by calling “Edit:Insert”, then selecting the specific App you wish to modify, you create a new edit where all the data about the App are copied and you can modify the App.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 tabing-item brand">
                        <ul class="faq-ul all-faq-list">
                            <li class="first active" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What makes you different?</h4>
                                <div class="p1">
                                    <p>We respect our client. We don’t believe in making unrealistic promises or tactics to entice customers into giving us their business like many others online. We believe that the qualities that we bring to the table are unique and you would want to continue working with us.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>When will I get the initial concepts for the logo?</h4>
                                <div class="p1">
                                    <p>Our designers are very efficient. Your initial concepts are delivered within 3 business days. As soon as you confirm your project, a designer is assigned to your project that immediately starts working on your logo.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can I present my ideas and you could work on them for me?</h4>
                                <div class="p1">
                                    <p>Definitely. Your ideas and suggestions is what will enable us to make your logo according to your liking. You can let us know your ideas and we will try to execute your vision to its best.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>My logo pixelates when it’s printed or enlarged? Can you convert it into vector format?</h4>
                                <div class="p1">
                                    <p>Indeed, we would be requiring the image and a live web link if possible. We will look it over and advise you the turnaround time based on the complexity of your current design.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>I already have a brand and loyal consumers. I just need a little tweaking of my brand? Can you guys do that for me?</h4>
                                <div class="p1">
                                    <p>Most definitely. Our branding experts excel in rebranding and breathing new life into dead brands. You would need to share your current brand and we will proceed from there.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp last" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Do you have experience in my particular industry? Do you have any past clients from my industry?</h4>
                                <div class="p1">
                                    <p>You can check our portfolio to see if we have worked with a similar company. We are experts in what we do regardless of the industry or fields. We have had clients from the field of technology to healthcare, retail and education etc. If you don’t see a company you recognize, we still think we can do splendid work for you. NYWC approach towards work is unique and effective. We study each and every one of our client thoroughly before devising a strategy for them keeping in mind their image, goals, industry trends and current position in the market.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 tabing-item social">
                        <ul class="faq-ul all-faq-list">
                            <li class="first active" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Does my business/company need social media?</h4>
                                <div class="p1">
                                    <p>It all relies on whether or not your company's or website's target audience is on social media. Your audience will use social media to ask inquiries, complain, give reviews, and provide feedback. All of this activity is open to the public, and it is critical for converting potential consumers, employees, or business partners. Through word-of-mouth marketing done by people who are engaged on social media platforms, companies that provide social media build trust and loyalty.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Do I need to be present on all social media networks?</h4>
                                <div class="p1">
                                    <p>No, not necessary, even though you may be tempted to increase your visibility on several social networks. Each social network, be it Facebook or LinkedIn, caters to particular type of audience. You need to analyze your audience, their content sharing habits, and interests, before you decide to launch yourself on different social networks.  Experts from NYWC say that your brand needs to bring value to the network such that it catches the attention of your audience in order to enhance your social presence.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How to measure ROI in social media?</h4>
                                <div class="p1">
                                    <p>It's tough to calculate the return on investment in social media because the platforms are so diverse. Starting with measurable goals like online purchases, link clicks, newsletter signups, and subscriptions is a good place to start. To estimate the ROI on social media, you can look at the reach, traffic, leads generated, and interaction on a larger scale.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What should I post on Social Media?</h4>
                                <div class="p1">
                                    <p>You should share material that is both relevant to your company and appealing to potential customers. To do so, you'll need to know your target audience, discover prospective influencers, and come up with innovative ways to keep them interested. All of this can be accomplished by the agency's social media marketing team.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What time should I post?</h4>
                                <div class="p1">
                                    <p>The best time to post is determined by your target audience. It's critical to figure out when your target audience is online so you can post at the proper time.</p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Is it necessary for me to spend money on social media advertising?</h4>
                                <div class="p1">
                                    <p>As more people use social media networks, it's a good idea to sell your items on sites like Facebook and Instagram. Advertising not only expands the reach of your content, but it also aids in the development of engagement, which leads to increased conversion.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 tabing-item seo">
                        <ul class="faq-ul all-faq-list">
                            <li class="first active" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Why do I need SEO services?</h4>
                                <div class="p1">
                                    <p>SEO allows you to improve your website's search engine ranking without having to spend a lot of money on paid or promotional adverts. Your target market uses Google to look for firms (your competitors) that can provide your services or products, and being on the first page helps increase traffic to your website, resulting in improved visibility, brand awareness, and strong website sales.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Does my website need backlink?</h4>
                                <div class="p1">
                                    <P>Backlinks work in a similar way to referrals in that they provide your website a positive vote in order to help it rank higher in search engine results. Backlinks make up about a quarter of the overall factors used to rank a website. In layman's terms, backlinks are one of the most essential criteria in determining your website's ranking.</P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How is SEO done for my website?</h4>
                                <div class="p1">
                                    <P>Search Engine Optimization mainly comprises of two parts – on page and off-page (aka content Marketing) optimization. </P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What is On-page Optimization?</h4>
                                <div class="p1">
                                    <P>When you optimize each web page in order to generate relevant traffic for that individual webpage. If the page is about web design, then you optimize the page title, description, heading tags, alt tags, content around similar theme.</P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What is Off-page Optimization?</h4>
                                <div class="p1">
                                    <P>It is completely opposite to the on page techniques and refers to the external links/signals coming to that webpage. The more niches relevant it is the better and easy it is for the page to rank. <br> In the off page optimization; it’s not about the quantity but the quality of each link that's coming to your website. </P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Why are page titles and Meta tag optimization important?</h4>
                                <div class="p1">
                                    <P>When a user makes a search for a specific question, only the page title and Meta descriptions appear in the SERPs. The title tag gives a general notion of what the page includes, whereas the Meta description briefly describes the page's content. This data/information is followed/learned by search engines in order to rank the website and present it in search results. As a result, a compelling title and description will almost certainly increase visitors to your website.</P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>What if I don’t do SEO for my website?</h4>
                                <div class="p1">
                                    <P>The online space has become a competitive arena wherein every new business or website wants to be noticed and reach on the top. In such scenario, if you are not investing in doing SEO for your website, then you may be missing out on a lot of opportunities for your business.Search Engine optimization is important for a business in the long run and is never a short term strategy. So you should only invest, if you know that it’s going to be a long term marketing goal of your company. </P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How long does it normally take to show results?</h4>
                                <div class="p1">
                                    <P>In an ideal situation, 6-12 months is considered to be a good time for yielding results in SEO.</P>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>How much do I need to pay for SEO services?</h4>
                                <div class="p1">
                                    <P>SEO packages will purely depend on the type of results you wish to avail after the initial analysis of the website is completed.</P>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 tabing-item content">
                        <ul class="faq-ul all-faq-list">
                            <li class="first active" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Is my content confidential or do you share it with third parties?</h4>
                                <div class="p1">
                                    <p>Yes, it is confidential. Once you accept and pay for it, it only belongs to you.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can you post my content on my blog?</h4>
                                <div class="p1">
                                    <p>Yes. You may choose the option of allowing us to post the content on your blog while ordering. Furthermore, our monthly packages include the services of posting by default without any additional cost.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can I request changes after placing my order?</h4>
                                <div class="p1">
                                    <p>Yes you may. After the project is delivered, you may request changes in tone and style adjustment of the content within 3 days of delivery. With that, even if your revision request is against our policy, it will still be reviewed by our quality assurance team and the decision will be made accordingly.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Do you offer timely delivery?</h4>
                                <div class="p1">
                                    <p>Yes. We make sure not to delay the orders. Our writers have to adhere to very strict policies in this regard, and that is why we don’t make any delays unless there is a technical issue.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>Can I avail discount offers more than one time?</h4>
                                <div class="p1">
                                    <p>Yes, you can avail the discounts for as many times as you can. There is no restriction. Enjoy the discount offer every time you place an order. Some discounts are offered on special occasions, so they are time-bound. Keep checking email to know about promotional discount offers.</p>
                                </div>
                            </li>
                            <li class="fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <h4>I want an authentic written material. Do you offer non-plagiarized content?</h4>
                                <div class="p1">
                                    <p>We strongly believe in the authenticity and the originality of content, and that is why 100% plagiarism free content is delivered. We ensure that all the material is self-written by writers and is authentic and we ensure authenticity by running every document through Copyscape.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <img src="assets/images/faq/clip.png" class="faq-clip faq-clip1">
                <img src="assets/images/faq/clip.png" class="faq-clip faq-clip2">
                <img src="assets/images/faq/clip.png" class="faq-clip faq-clip3">
              </div>
          </div>
          <img src="assets/images/banner/clip2.png" alt="" class="brand-clip2 clips">
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>     

      </Layout>