---
import Layout from '../layouts/Layout.astro' 
---
<Layout>

  <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/social/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We socialize...</h2>
                        <h1>your brand in <br><span> the digital world</span></h1>
                        <h5>both organically and paid</h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#social-media-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="social-media-sec" class="">
          <div class="socila-media-img text-center">
              <img src="assets/images/social/social.png" alt="">
          </div>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-10 col-12">
                      <div class="sec-txt text-center">
                          <h2>Get to know the power of <br>Social Media</h2>
                          <p>When it comes to raising brand image or marketing/promoting a business, product, or service, social media has proven to be a valuable resource, allowing businesses to reach large audiences more efficiently and in less time. Even with the free package, where businesses are only need to register a free social media account or page, a sizable audience is still reached. In places like USA where 96% of the population are active on social media, Social Media Marketing can be an ideal marketing platform. <br> <br>When a business is active on social media, it can answer inquiries from the public, respond to complaints, and gather feedback from its product/service consumers, all of which are important in service improvement. Clients/Customers are also more easily notified about new products/services on social media than they are on other marketing platforms. Social media marketing also not only matters on social media but it also boosts your website's SEO.</p>
                           <div class="couple-btn-area d-flex align-items-center justify-content-between chat-btns">
                                <a href="smm-faq.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">GOT QUESTION?</span>
                                </a>
                                <a href="smm-portfolio.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">CHECK OUR WORK</span>
                                </a>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </section>
      <section id="social-sec" class="section-padding3">
      <div class="container-fluid p-0">
              <div class="row web-design-list p-0">
                  <div class="col-12 web-dev-tab-item social-media">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Social Media<br> Community Management</h4>
                                  <p>Community management is the process of managing, monitoring and promoting your brand followers across diverse social media platforms. We at NewYork Web Coders serve as your brand's ambassador, increasing awareness and actively connecting with potential customers.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/social/sm1.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item social-media">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Influencer Marketing</h4>
                                  <p>Influencer marketing is a type of social media marketing that uses endorsements and product mentions from influencers–individuals who have a huge social following and are regarded as experts in their field. Leveraging on influencer’s large followings on social media enables a wider outreach, reaching more potential clients.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/social/sm2.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item social-media">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Social Media Engagement <br>and Reporting</h4>
                                  <p>A company's social media presence is not enough; it must ensure that it is truly engaging its customers. Your engagement metrics & reports provide a snapshot of how well your marketing campaign is performing. This allows you to understand what is working, what isn't, and what steps to take for better results</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/social/sm3.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item social-media">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Social Media Campaigns<br> and Project</h4>
                                  <p>Social media campaigns are marketing campaigns that target social media users by use of social media. We, the leading social media marketing agency in USA, creates carefully considered and planned campaigns that result in better conversions, significantly contributing to the client's business goal.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/social/sm4.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item social-media">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Social Media Calendar<br> Creation</h4>
                                  <p>Content calendars allow you to plan your topic in a timely and orderly manner, organize and schedule upcoming content that resonates with clients, and support your marketing strategy. A good social media calendar is steered by a brand's specific media campaigns and goals.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/social/sm5.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 web-dev-tab-item social-media">
                      <div class="row align-items-center justify-content-center m-0">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text">
                                  <h4>Social Media Platform<br> Setup and Management</h4>
                                  <p>Setting up social media platforms to distribute your content is done with the social media networks in mind that your clients are interested in. Our marketing team stays current on industry developments in order to provide up-to-date services in platform setup, analytics tools, and platform management.</p>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="web-dev-img-area" >
                                  <img src="assets/images/social/sm6.png" alt="" class="w-design-img">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <img src="assets/images/about/clip1.png" alt="" class="about-clip1">
      </section>
      <section id="trusted" class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="sec-txt text-center text-padding">
                          <h2 class="trust-hd">Social Media Platforms we deal in</h2>
                      </div>
                      <ul class="trust-tabs my-0">
                          <li>
                              <img src="assets/images/social/t1.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/social/t2.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/social/t3.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/social/t4.png" alt="">
                          </li>
                     </ul>
                      <ul class="trust-tabs my-0">
                          <li>
                              <img src="assets/images/social/t5.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/social/t6.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/social/t7.png" alt="">
                          </li>
                          <li>
                              <img src="assets/images/social/t8.png" alt="">
                          </li>
                     </ul>
                  </div>
              </div>
          </div>
      </section>
      <section id="tabing-sec" class="section-margin-b">
          <div class="container">
              <div class="row justify-content-center align-items-center">
                 <div class="col-12">
                 <div class="sec-txt sec-txt2 text-center">
                 <h2>How do we do it step by step?</h2>
                 </div>
                 </div>
                  <div class="col-3 col-md-12">
                      <div class="sec-txt sec-txt2 text-center">
                          <ul class="faeture-btns-slider">
                              <li class="current" data-targetit="box-1">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/social/f1.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/social/f10.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Social Media  <br>Audit</h6>
                                  </div>
                              </li>
                              <li  data-targetit="box-2">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/social/f2.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/social/f20.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Competitor  <br>Analysis</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-3">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/social/f3.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/social/f30.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Social Media <br>Page Setup</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-4">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/social/f4.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/social/f40.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Monthly  <br>Content Plan</h6>
                                  </div>
                              </li>
                              <li data-targetit="box-5">
                                  <div>
                                      <div class="feature-icon-wrap">
                                          <div class="feat-btn-wrap feat-btn-wrap1">
                                             <img src="assets/images/social/f5.png" alt="">
                                          </div>
                                          <div class="feat-btn-wrap feat-btn-wrap2">
                                             <img src="assets/images/social/f50.png" alt="">
                                          </div>
                                        </div>
                                        <h6>Scheduling  <br>Posts</h6>
                                  </div>
                              </li>
                          </ul>
                         
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-12 col-9 text-center">
                    <ul class="p-list">
                        <li class="box-1 showfirst sec-txt sec-txt2 active">
                            <p>Our marketing experts conduct the audit as the first step to ascertain the current performance of a business’s social media strategies then improvise the necessary strategies. The audit done, seeks to evaluate and optimize your business's social profiles and strategies.</p>
                        </li>
                        <li class="box-2 sec-txt sec-txt2 ">
                            <p>Competitor analysis is an important part of creating marketing strategies. It allows us, the experts, to determine the strengths and weaknesses of our client's current and potential competitors. This is crucial information for creating effective social media campaigns that give our clients an advantage over their competitors.</p>
                        </li>
                        <li class="box-3 sec-txt sec-txt2 ">
                            <p>Social Media platforms are unique in their own way.   As a result, it's critical to understand how each platform works and who the majority of users are. We help businesses in determining their target audience and establishing the most relevant social media platform.</p>
                        </li>
                        <li class="box-4 sec-txt sec-txt2 ">
                            <p>Sufficient planning is essential for a consistent flow of content assuring continuous marketing. Having a monthly content strategy elevates a website to the top of the list of efficient and well-organized websites, and this improves the overall brand's reputation.</p>
                        </li>
                        <li class="box-5 sec-txt sec-txt2 ">
                            <p>Social media marketing allows you to create and schedule your content's publication. As a result, you can create multiple posts and schedule them to go live at different times. The agency will assist you in properly scheduling your postings, whether they are promotional, instructive, engaging, or entertaining.</p>
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
      </section>
      <section id="web-fact-sec" class="section-pad">
          <h2 class="fact-hd">SMM Stats</h2>
          <div class="container">
              <div class="row">
                  <div class="col">
                      <div class="counter-area" id="counter">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="48">0</span>%</div>
                            <svg  class="meter-svg svg" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>There are 3.78Bn<br> Social Media users<br> in the world</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="68">0</span>%</div>
                            <svg  class="meter-svg svg red" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                        </div>
                        <p>Facebook remains the <br> most widely used<br> Social Media platform</p>
                      </div>
                  </div>
                  <div class="col">
                      <div class="counter-area">
                          <div class="svg-wrap">
                            <div class="counter"> <span class="count svg-counter"  data-count="54">0</span>%</div>
                            <svg  class="meter-svg svg green" width="280" height="280" viewport="0 0 60 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-blur" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="130" cx="140" cy="140" fill="transparent" stroke-dasharray="830.48" stroke-dashoffset="0" style="stroke-dashoffset: 0px"></circle>
                            </svg>
                         </div>
                         <p>Social Browsers<br>use Social Media<br> to research products</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="work-sec">
         <div class="container position-relative">
            <img src="assets/images/banner/clip2.png" alt="" class="clip2 clip-rt-y">
            <div class="row justify-content-center">
               <div class="col-lg-8 col-md-10 col-12">
                  <div class="sec-txt text-center">
                     <h2 data-aos="fade-up">Our Work, that speaks for itself!</h2>
                  </div>
                  <div class="work-wrap">
                     <ul class="work-list">
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work1.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk1.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work2.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk2.png" alt="" class="work-m-img">
                        </li>
                        <li>
                           <div class="work-list-txt">
                              <div class="work-list-img">
                                 <img src="assets/images/icon/work3.png" alt="">
                              </div>
                              <p>
                                 UI/UX, Conceptualization and <br> Project Management
                              </p>
                           </div>
                           <img src="assets/images/wrk3.png" alt="" class="work-m-img">
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-8 col-md-10 col-12">
                  <ul class="d-flex align-items-center justify-content-between">
                     <li>
                        <a href="smm-portfolio.html" class="view-more">
                           <span><i class="fas fa-play"></i></span> <span class="txt"> VIEW ALL PORTFOLIO</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>

      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      </Layout>