---
import Layout from '../layouts/Layout.astro' 
---
<Layout>


    <div class="inner-body">
      <div class="subBanner subBanner2" >
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h1>Terms of Services</h1>
                        <img src="assets/images/about/text-clip2.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
      </div>
      <section class="section-pad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-11 col-md-12">
                      <div class="sec-txt">
                          <h2>Revision Policy</h2>
                          <p>We provide revision depending upon the package you selected. Customers can ask us for unlimited free revisions and we will revise their design without any additional charges provided that the design and concept remains the same. Revision Turnaround Time would be 48 hours. <br> <br>If your website goes live and you ask for more revisions there will be additional charges implemented according to requirement.</p>
                          <h2>Refund Policy / Money Back Guarantee</h2>
                          <p>In any event, any deposited funds for a project shall not be subject to refund after delivery if the initial design concepts are approved, or a change is requested unless NewYork Webcoders™ cancels or terminates your Contract for a reason other than your breach or non-performance.</p>
                          <h2>All refund requests will be fulfilled as per the  <br>following arrangement:</h2>
                          <h5 class="terms-hd5">New York Web Coders refund policy will be nil if</h5>
                          <ul class="terms-list">
                                <li class="terms-list-item">
                                  <p>A refund request will need to have a valid reason which must be qualified against the design brief and customer feedback for revisions. Unless a concept has not been designed according to the brief, a refund will not be given however further revisions will be provided until complete satisfaction</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>All refund requests should be communicated to the account manager, project manager or support department. NewYork Webcoders™, based on the violation of your user agreement reserves the right to approve/disapprove your request on an individual case to case basis.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>All design jobs require customer feedback before finalizing the design therefore it is only fair that the customer gets involved and provides feedback in order to get the desired results.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>For websites, mobile apps and game projects no refund will be entertained once website development has been completed or once the website has been deployed live.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>For video animation project no refund request will be entertained after the designing of the storyboard.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If request for refund is made before the delivery of initial design concepts, then you would be eligible for Full Refund (less 10% service & processing fee).</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If request for refund is made within 48 hours, you would be eligible for 66% refund (less 10% service & processing fee).</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If request for refund is made between 48- 120 hours of the initial design delivery, you would be eligible for 33% refund (less 10% service & processing fee).</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If the company’s policies, or policy, have not been violated.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If the creative brief is lacking required information.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If the claim hasn't crossed the given ‘request for refund’ time span.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If the other company or designer hasn't been approached for the same project.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If the business is closing, changing the name or business due to reason related to our company. Refund will not be approved on any reason non-related to our company</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If a client subscribes for a service bundle and happens to be dissatisfied with a particular service, refund will only be applicable on that particular service and ‘not’ the entire bundle.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If the refund has been processed, the customer or the entity will have zero authority to use any source of work design that has been shared with the client. </p>
                                </li>
                                <li class="terms-list-item">
                                    <p>If found, it will be a breach of contract and legal proceedings will be acted upon. </p>
                                </li>
                                <li class="terms-list-item">
                                    <p>Money back guarantee is based on that the order is placed in good faith. Where a customer has placed design orders with more than one design agency for the same job with the intention to claim refund, we do not consider it a good faith. In such a case we reserve the right to decline a refund request.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund will be approved on any special package/offer.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund will be approved if revision have been demanded.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund will be approved on reasons such as ‘change of mind’, ‘disagreement with partner’ or other reasons that do not pertain to the service will not be subject to refund under any circumstances</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund will be approved on services like Social Media, SEO, Domain Registration and Web Hosting are not entitled to refunds under any circumstances.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund request will be entertained if you have not taken any action on your order for 30 days after placing your order. However, if you want to reactivate your design order, you will be charged a certain fee depending on your project.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund requests will be entertained after the final files have been delivered.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>No refund request will be entertained on reasons non-related to the company.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>The refund policy will not be applicable if the customer has been unresponsive for more than 20 days.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>The customer can always request to get his project held for a certain period of time, however, refund won’t be applicable on such situation.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>The company will not refund any client whose work was outsourced to NewYork Webcoders™ by a third party.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>The client will not be refunded any money after the payment has been disputed. Any of such scenarios will lead to termination of the contract.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>The client can always reach out to NewYork Webcoders™ in case of any difference between the contract and the commitments made with the client.</p>
                                </li>
                                <li class="terms-list-item">
                                    <p>100% unique design guarantee entitles you to a re-draw if our designed logo is to be found considerably similar to another logo design that may already exist. Any resemblance to an existing design will be merely a coincidence and NewYork Webcoders™ will not accept any responsibility or claim of any compensation in such a case. It is the client's responsibility to get their art work copyrighted.</p>
                                </li>
                          </ul>
                            <h2>Note:</h2>
                            <p>The refund will take 10-15 days after the cancellation request. However, the client will not use any of the provided work shared with the client. In case of bundle purchases, the service in question will be refunded only.</p>
                            <h2>How to claim your refund</h2>
                            <p class="red">To assure your refund request is approved, please make sure you meet the following requirements</p>
                            <ul class="terms-list">
                                <li><p> Claim your refund specifying your concern by contacting us via any of the following three modes:</p>
                                    <ul class="terms-list">
                                        <li><a href="#"><p class="mb-2">Toll free # +1 (888) 292 3242</p></a></li>
                                        <li><a href="#"><p class="mb-2">Live Chat</p></a></li>
                                        <li><a href="#"><p class="red"><span class="__cf_email__" data-cfemail="d4a7a1a4a4bba6a094bab1a3adbba6bfa3b1b6b7bbb0b1a6a7fab7bbb9">[email&#160;protected]</span></p></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <p>We will try to resolve your concern by virtue of our revision policy immediately or else will email you a refund request approval from our refund department. After the refund, your design rights would be obtained by NewYork Webcoders™ and you would not be able to display any version of the design sent by company. Let us also specify that:</p>
                                    <ul  class="terms-list">
                                        <li>
                                            <p class="m-0">Since the design rights would now be transferred to the company, you agree that you will have no right (direct or indirect) to use any response or other content, work product or media, nor will you have any ownership interest in or to the same.</p>
                                        </li>
                                        <li>
                                            <p class="">Working in collaboration with the Government Copyright Agencies NewYork Webcoders™ would share Copyright Acquisition information for the refunded designs that would restrict the re-use of the designs as original designs in the future. If you have any questions or concerns about our Refund Policy, please contact us by clicking here <a href="#" class="red"><span class="__cf_email__" data-cfemail="74070104041b0600341a11030d1b061f031116171b101106075a171b19">[email&#160;protected]</span></a> .</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <h2>My Account</h2>
                            <p>The My Account area is a convenient way to communicate. It is your sole responsibility to check the account area to address any queries, concerns, or additional instructions required by the designer. Not checking or using the Account Area frequently shall not provide you adequate grounds for a refund. However, if you are uncertain how to use the area, you may contact the customer support team at any time for assistance.</p>
                            <h2>Quality Assurance Policy</h2>
                            <p>In order to provide you the desired satisfaction, our designers don't deviate from the specifications provided by you in the order form. <br>The designs are created after a thorough research which ensures the design quality and uniqueness.</p>
                            <h2>100% Satisfaction Guarantee</h2>
                            <p>We rework the ordered design and keep on revising it until you are 100% satisfied (depending upon your package).</p>
                            <h2>Domain and Hosting</h2>
                            <p>Domain and hosting will be provided for free with website packages, where applicable.<br> All the email accounts provided with website packages can be configured on third party email soft-wares such as outlook. Each email account will have 10MB of space.<br> If you are not hosting your website with us, we will not provide email accounts.<br> There is no refund for the hosting, domain or email server package</p>
                            <h2>Delivery Policy</h2>
                            <p>All design order files are delivered to My Account as per the date specified on the "Order Confirmation". An e-mail is also sent to inform the client about their design order delivery made to their specific account area. All policies pertaining to revision & refund are subject to date and time of design order delivered to client's account area. All design order files are delivered to "My Account" as per the date specified on the "Order Confirmation". An e-mail is also sent to inform the client about their design order delivery made to their specific account area. All policies pertaining to revision & refund are subject to date and time of design order delivered to client's account area. We deliver all our customized design orders via e-mail within 5 to 7 days of receiving your order. We offer a RUSH DELIVERY service through which you can have your first logo samples within 48 hours by paying just $100 extra! For further assistance, contact us at 24-Hour Customer Support Center.</p>
                            <h2>Record Maintenance</h2>
                            <p>We keep a record of your finalized design once we provide you the final files.<br>If you require the final files again in the future we can send them to you at your request.</p>
                            <h2>Customer Support</h2>
                            <p>We offer 24-Hour Customer Support to address your queries and questions. <br> You can contact us any time and we guarantee to respond immediately.</p>
                            <h2>Communication Policy</h2>
                            <p>YOU agree that NewYork Webcoders™ is not liable for any correspondence from email address (es) other than the ones followed by our own domain i.e. "<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="3e10107e505b4947514c55495b5c5d515a5b4c4d105d5153">[email&#160;protected]</a> " or/and any toll free number that is not mentioned on our website. NewYork Webcoders™ should not be held responsible for any damage(s) caused by such correspondence. We only take responsibility of any communication through email address (es) under our own domain name or/and via toll free number i.e. already mentioned on NewYork Webcoders™ Website.</p>
                            <h2>Access to Information</h2>
                            <p>To access NewYork Webcoders™ services you may be asked to provide certain registration details or other information. By accepting these terms & conditions, you hereby acknowledge that all the information provided by you will be correct, current, and complete. If NewYork Webcoders™ believes the information that you have provided is not correct, current, or complete, NewYork Webcoders™ has the right to refuse your access to any services or any of its resources, and to terminate or suspend your account at any time. <br>NewYork Webcoders™ is operating under a PCI DSS compliant company; therefore it is authorized to keep your credit card information on file that can be used for any recurring service, additional development hours, server or network equipment required to develop or launch your website without any prior notification. However, our representatives always bring this in knowledge so that you are aware about all the processes.</p>
                            <h2>100% Unique Design Guarantee</h2>
                            <p>At NewYork Webcoders™ we guarantee that all of our customers' logos are made from scratch. This way you will have a logo that is tailor made for your requirements. We guarantee that your logo will be unique and impress your clientele</p>
                            <h2>Exclusions</h2>
                            <p>The Company will assist the Client with the integration of 3rd party plugins and APIs but any third party integration required to assist with the functionality of the website will be STRICTLY standard. The Company will not have anything to do with any third party dealings during the development of this project. All additional work will require a separate fee agreement..</p>
                        </div>
                     
                  </div>
              </div>
          </div>
      </section>

      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>  
      
      
</Layout>