---
import Layout from '../layouts/Layout.astro' 
---
<Layout>
   
 
 <div class="inner-body">
      <div class="subBanner" style="background-image:url(assets/images/whatwedo/banner.png);">
      <div class="banner-upper"></div>
        <div class="container" >
           <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                  <div class="banner-txt subbanner-txt">
                     <div class="">
                        <h2 class="type">We deliver...</h2>
                        <h1>a high-end service <br><span>that produces</span></h1>
                        <h5>HIGH-END RESULTS </h5>
                        <img src="assets/images/about/text-clip.png" alt="" class="ban-text-clip">
                     </div>
                  </div>
              </div>
           </div>
        </div>
        <div class="banner-lower-part">
           <div class="container" style="position-relative">
           <img src="assets/images/icon/ban-clip1.png" alt="" class="ban-clip1 clip-rt-y2">
              <div class="row">
                 <div class="col-12">
                    <div class="banner-txt2 text-center">
                       <p>exceptional. outstanding. digital. experience</p>
                       <a href="#exceptional-sec" class="down-btn">
                          <span>learn more</span>
                          <img src="assets/images/icon/arrow.png" alt="">
                       </a>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
      <section id="exceptional-sec" class="section-pad">
          <div class="container">
              <div class="col-12">
                  <div class="sec-txt text-pad text-center">
                      <h2>Exceptional Websites, Exclusive Logos, <br> and Creative Branding!</h2>
                      <p class="what-we-p">NewYork Web Coders is a creative and talented digital agency that aids brands and individuals alike to enhance their digital presence. With years of experience, we helps you to unlock the true value of marketing and media. Our range of services begin from branding, web designing, SEO, SMM, app development, and etc... <br> <br> At NewYork Web Coders we have an experienced team of digital experts available at your service here! We create effective digital solutions to build and empower your brand identity. Our geeks come from diverse and creative backgrounds, aiming to make your customers happy with exceptional experiences, to achieve your goals.</p>
                      <img src="assets/images/whatwedo/girl.png" alt="" class="girl-img-what" data-aos="fade-down"  data-aos-duration="800">
                  </div>
              </div>
          </div>
      </section>
      <section id="porftolio-sec" class="section-pad">
          <div class="container">
              <div class="row ">
                  <div class="col-12 ">
                      <ul class="portfolio-btns portfolio-btns2 portfolio-btns-whatwe">
                           <li >
                               <a href="#web-services">
                                    <div>
                                        <div class="pt-tab-img-wrap">
                                        <img src="assets/images/portfolio/t2.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/portfolio/t20.png" class="pt-tb-img2 pt-tb-img">
                                        </div>
                                        <p>WEB <br> SERVICES</p>
                                    </div>
                                </a>
                            </li>
                          <li>
                              <a href="#mobile-application">
                                <div>
                                    <div class="pt-tab-img-wrap">
                                        <img src="assets/images/portfolio/t3.png" class="pt-tb-img1 pt-tb-img">
                                        <img src="assets/images/portfolio/t30.png" class="pt-tb-img2 pt-tb-img">
                                        </div>
                                        <p>MOBILE <br>APPLICATION</p>
                                    </div>
                                </a>
                            </li>
                            
                          <li>
                              <a href="#brand-design">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t4.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t40.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>BRANDING <br>& DESIGN</p>
                              </div>
                              </a>
                          </li>
                          <li >
                              <a href="#search-engine">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t6.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t60.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>SEARCH <br>ENGINE OPT</p>
                              </div>
                              </a>
                          </li>
                          <li >
                              <a href="#social-media">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t5.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t50.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>SOCIAL <br> MEDIA</p>
                              </div>
                              </a>
                          </li>
                          <li >
                              <a href="#content-writing">
                              <div>
                                  <div class="pt-tab-img-wrap">
                                     <img src="assets/images/portfolio/t7.png" class="pt-tb-img1 pt-tb-img">
                                     <img src="assets/images/portfolio/t70.png" class="pt-tb-img2 pt-tb-img">
                                  </div>
                                  <p>CONTENT <br> WRITING</p>
                              </div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="row portfolio-list2 active">
                  <div class="col-12 portfolio-item2" id="web-services">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="whatwe-img-area">
                                  <img src="assets/images/whatwe/w1.png" alt="" class="portfolio-img">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12  p-0">
                              <div class="sec-txt portfolio-text2">
                                  <div>
                                  <h4>Web Services</h4>
                                  <p>Anything & Everything – From Business Websites to Ecommerce Stores, you get it all. When you Work With Us, With a team of experts, our aim is to provide professional web services which can leave a long-term experience in the particular industry, enabling the customers to have strong digital presence.</p>
                                  </div>
                                  <a href="web-design.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">VIEW MORE</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item2" id="mobile-application">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12  p-0">
                              <div class="whatwe-img-area">
                                  <img src="assets/images/whatwe/w2.png" alt="" class="portfolio-img">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12  p-0">
                              <div class="sec-txt portfolio-text2">
                                  <div>
                                  <h4>Mobile Application</h4>
                                  <p>Spread your organization globally with highly-responsive mobile applications. We work on fresh ideas with distinct approaches to create a top-notch application design with dynamic developments. Now turn your startups on a global platform with our team to achieve desired success.</p>
                                  </div>
                                  <a href="mobile-application.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">VIEW MORE</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item2" id="brand-design">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="whatwe-img-area">
                                  <img src="assets/images/whatwe/w3.png" alt="" class="portfolio-img">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text2">
                                  <div>
                                  <h4>Branding and Design</h4>
                                  <p>Creating a meaningful impact on a consumer is not easy. But we have got your back! The branding experts here know how to develop an impressive identity, leaving a long-lasting impression on the audience. With our branding services, your brand story not only reaches millions of people out there but also carves its place in their hearts. We come up with captivating designs & appealing strategies for you!</p>
                                  </div>
                                  <a href="brand-design.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">VIEW MORE</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item2" id="search-engine">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="whatwe-img-area">
                                  <img src="assets/images/whatwe/w4.png" alt="" class="portfolio-img">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12">
                              <div class="sec-txt portfolio-text2 p-0">
                                  <div>
                                  <h4>Search Engine Optimization</h4>
                                  <p>We have a good success ratio in both Local and International Levels. We can tell you how. As an SEO agency, we’ve helped dozens of clients in US and beyond grow their business on search. In fact, many of them lie on the first page of Google today.</p>
                                  </div>
                                  <a href="seo.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">VIEW MORE</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item2" id="social-media">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="whatwe-img-area">
                                  <img src="assets/images/whatwe/w5.png" alt="" class="portfolio-img">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text2">
                                  <div>
                                  <h4>Social Media Marketing</h4>
                                  <p>Does your business have the votes of confidence it needs from social media networks? Build your brand awareness across the web and create meaningful connections with your customers and followers through Social Media Marketing. <br>We provide social media marketing for all type of businesses. No matter if you own a startup or a Fortune 500 company; our social media marketing experts can assist you with your campaign.</p>
                                  </div>
                                  <a href="social-media.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">VIEW MORE</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 portfolio-item2" id="content-writing">
                      <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="whatwe-img-area">
                                  <img src="assets/images/whatwe/w6.png" alt="" class="portfolio-img">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 p-0">
                              <div class="sec-txt portfolio-text2">
                                  <div>
                                  <h4>Content Writing</h4>
                                  <p>Design, production, execution or measurement, we take our work personally. Maybe it’s obsessive, but that’s how we create award-winning digital content that drives engagement through insights and human stories.</p>
                                  </div>
                                  <a href="content-writing.html" class="view-more">
                                    <span><i class="fas fa-play"></i></span> <span class="txt">VIEW MORE</span>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section id="quote-sec">
         <h2 class="quote-fade" >Time to Get Started</h2>
         <div class="container position-relative">
         <img src="assets/images/icon/quote-clip1.png" alt="" class="quote-clip">
            <div class="row">
               <div class="col-12" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="800">
                  <ul class="quote-list">
                     <li>
                        <img src="assets/images/icon/q1.png" alt="" class="quote-icon">
                        <div class="quote-text">
                        <a href="tel:(888) 292 3242">
                           <h4>Call us anytime!</h4>
                           <span>+1 (888) 292 3242</span>
                       </a>
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q2.png" alt="" class="quote-icon">
                           <div class="quote-text quote-toggle">
                              <h2>Get Quote!</h2>
                           </div>
                        <div class="quote-form-wrap">
                        <button class="close-btn dis-qoute"><i class="far fa-times"></i></button>
                           <form action="https://newyorkwebcoders.com/get_quote_data.php" method="POST">
                              <input type="text" class="quote-field" placeholder="Full Name" name="customer_name">
                              <input type="text" class="quote-field"  placeholder="Phone Number" name="phone_number">
                              <input type="text" class="quote-field"  placeholder="Email Address" name="customer_email">
                              <textarea  id="message" name="message" rows="5" class="quote-field"  placeholder="Anything you want to add..."></textarea>
                              <input type="hidden" name="lead_area" value="request a call" />
                              <input type="submit" name="submit" class="quote-submit" value="Get Started Now!">
                           </form>   
                        </div>
                     </li>
                     <li>
                        <img src="assets/images/icon/q3.png" alt="" class="quote-icon">
                        <div class="quote-text">
                           <a href="javascript:$zopim.livechat.window.toggle()">
                           <h4>Live Chat</h4>
                           <span> and discuss your project</span>
                           </a>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
      
      </Layout>