<footer>
    <div class="container position-relative footer-main">
       <img src="assets/images/banner/footer.png" alt="" class="footer-img">
       <div class="row">
          <div class="col-lg-4 col-md-7" data-aos="zoom-out" data-aos-duration="500">
             <div class="widget">
                <a href="#" class="f-logo">
                   <img src="assets/images/logo.png" alt="">
                </a>
                <p>Our web development firm is a one-stop shop that consists of highly skilled and creative developers, marketers, and designers that work together to provide the finest possible solutions that satisfy all of the client's needs.</p>
                <a href="#" class="address">
                   <span><i class="fas fa-map-marker-alt"></i></span>
                   <span>Syracuse, NY 13206 </span>
                </a>
                 <a href="tel:(631) 456 4050" class="address">
                   <span><i class="fas fa-phone-alt"></i></span>
                   <span>+1 (855) 267-6540</span>
                </a>
                 <a href="tel:(631) 456 4050" class="address">
                   <span><i class="fas fa-phone-alt"></i></span>
                   <span>+1 (631) 456 4050</span>
                </a>
               
                 <a href="info%40newyorkwebcoders.html" class="address">
                   <span><i class="far fa-envelope"></i></span>
                   <span><span class="__cf_email__" data-cfemail="a5cccbc3cae5cbc0d2dccad7ced2c0c7c6cac1c0d7d68bc6cac8">[email&#160;protected]</span> </span>
                </a>
             </div>
          </div>
          <div class="offset-lg-1 col-lg-3 col-md-4 " data-aos="zoom-out" data-aos-offset="100" data-aos-duration="700">
             <div class="footer-widget">
                <h4>WHAT WE OFFER</h4>
                <ul class="footer-links">
                   <li><a href="web-design.html" class="link">Website Design</a></li>
                   <li><a href="web-development.html" class="link">Website Development</a></li>
                   <li><a href="ecommerce.html" class="link">E-Commerce</a></li>
                   <li><a href="mobile-application.html" class="link">Mobile Application</a></li>
                   <li><a href="brand-design.html" class="link">Branding and Design</a></li>
                   <li><a href="seo.html" class="link">Search Engine Optimization</a></li>
                   <li><a href="social-media.html" class="link">Social Media</a></li>
                   <li><a href="content-writing.html" class="link">Content Writing</a></li>
                </ul>
             </div>
          </div>
          <div class="col-md-4" data-aos="zoom-out" data-aos-offset="200" data-aos-duration="900">
             <div class="footer-widget footer-faq">
                <h4>COMPANY</h4>
                <ul class="footer-links">
                   <li><a href="about.html" class="link">About Us</a></li>
                   <li><a href="what-we-do.html" class="link">What we do</a></li>
                   <li><a href="packages.html" class="link">Packages</a></li>
                   <li><a href="portfolio.html" class="link">Portfolio</a></li>
                   <li><a href="review.html" class="link">Reviews</a></li>
                   <li><a href="contact.html" class="link">Contact Us</a></li>
                </ul>
             </div>
             <div class="footer-widget footer-widget2 footer-faq">
                <h4>FAQs</h4>
                <ul class="footer-links">
                   <li><a href="faq.html" class="link">Web Services FAQs</a></li>
                   <li><a href="seo-faq.html" class="link">SEO FAQs</a></li>
                   <li><a href="smm-faq.html" class="link">Social Media Maketing FAQs</a></li>
                   <li><a href="mobile-app.html" class="link">Mobile App Development FAQs</a></li>
                   <li><a href="content-faq.html" class="link">Content Writing FAQs</a></li>
                   <li><a href="branding-faq.html" class="link">Branding & Design FAQs</a></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="footer-row2">
          <div class="row">
             <div class="col-lg-7 col-md-12 col-12" data-aos="zoom-out" data-aos-duration="200">
                <div class="row">
                   <div class="col-md-6 col-12">
                      <img src="assets/images/icon/cards.png" alt="" class="cards-img">
                   </div>
                   <div class="col-md-6 col-12">
                      <ul class="footer-social-links">
                         <li>
                            <a href="https://www.facebook.com/newyorkwebcoders/">
                               <img src="assets/images/icon/fb.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img src="assets/images/icon/twitter.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img src="assets/images/icon/youtube.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img src="assets/images/icon/linkedin.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="https://instagram.com/newyorkwebcoder?utm_medium=copy_link">
                               <img src="assets/images/icon/insta.png" alt="">
                            </a>
                         </li>
                         <li>
                            <a href="#">
                               <img src="assets/images/icon/pinterest.png" alt="">
                            </a>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                <p class="copy-right">© 2021 Newyork Web Coders | All rights reserved.</p>
             </div>
             <div class="col-md-6">
               <ul class="footer-bottom-links">
                  <li>
                     <a href="terms.html" class="link2">Terms of Services</a>
                  </li>
                  <li>
                     <a href="privacy.html" class="link2">Privacy Policy</a>
                  </li>
               </ul>
             </div>
          </div>
       </div>
    </div>
 </footer>


<script src="../assets/js/custom.js"></script>
