---
import '../assets/css/style.css';
import '../assets/css/layout.min.css';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />      <meta name="description" content="">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>

		<Header />
		<slot />
		<Footer/>


<script  src="../assets/js/custom.js"></script>
	</body>
</html>
